@import "global";

.main_component{
  overflow: hidden;
}
.challengerecook {
  .topContent {
    background-color: $white;
    padding-bottom: 3%;
    overflow: hidden;

    .content {
      padding: 5% 8%;
      h3 {
        font-weight: bold;
        font-size: 30px;
      }
      h5{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
      .see-more {
        font-weight: bold;
        color: $red;
      }
    }
  }
  .stickyNav {
    padding: 3% 5% 4% 5%;
    z-index: 99;
    background-color: $white;
    position: sticky;
    top: 0;
    &.static{
      position: static;
    }
    img {
      width: 24px;
    }
  }
}
.question_wrapper{
  background: #fff;
  .container{
    padding:20px;
  }
  .cr_box{
    text-align: center;
    img{
      width: 160px;
      display: block;
      margin:0 auto 20px;
    }
    h3{
      font-size: 22px;
      color:$red;
      margin-bottom: 20px;
      font-weight: 700;
    }
    p{
      color:$neutral-matte;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .top_box{
    position: relative;
    margin-bottom: 20px;
    h3{
      font-weight: 700;
      font-size: 26px;
      img{
        width: 25px;
        display: inline-block;
        position: relative;
        top: -3px;
      }
    }
    .back_btn{
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url('../assets/images/main-assets/close.svg') no-repeat top center / contain;
      display: block;
      text-indent: -9999px;
    }
  }
  .jurnal_tips{
    margin-bottom: 20px;
  }
  .form_title{
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    &:after{
      content:'*';
      color:$red;
    }
  }
  .box_info{
    background: $pink;
    border-radius: 16px;
    padding: 16px;
    font-size: 12px;
    margin:20px 0 0;
    ul{
      margin-bottom: 0;
    }
  }
  .form_wrapper{
    .e_tab_form{
      margin-bottom: 10px;
      ul{
        list-style: none;
        padding:0;
        margin: 0;
        overflow: hidden;
        li{
          float: left;
          display: block;
          margin-right: 20px;
          font-size: 14px;
          a{
            padding-left: 15px;
            display: block;
            background: url('../assets/images/main-assets/Ic_radio_button.svg') no-repeat left center / 14px;
            &.actived{
              font-weight: 700;
              background: url('../assets/images/main-assets/Ic_radio_button_fill.svg') no-repeat left center / 14px;
            }
          }
        }
      }
    }
    .e_tab_form_box{
      display: none;
      .file_box{
        position: relative;
        width: 100%;
        input[type="file"]{
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          left: 0;
          opacity:0;
        }
        .area_image{
          width: 100%;
          height: 42px;
          border-radius: 40px;
          padding: 0 10px;
          outline:0;
          display: block;
          border:1px solid #ccc;
          background: url('../assets/images/main-assets/ic_image.svg') no-repeat center right 5px / 32px;
        }
        .youtube{
          background: url('../assets/images/main-assets/ic_youtube.svg') no-repeat center right 5px / 32px;
        }
      }
    }
    #uploadimage{
      display: block;
    }
    .form_box{
      margin-bottom: 20px;
      position: relative;
    }
    .polling_form{
      input[type="text"]{
        margin-bottom: 10px;
      }
    }
    .add_polling{
      display: block;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
      background: #fff url('../assets/images/main-assets/ic_plus.svg') no-repeat right 10px center / 16px;
    }
    .ta_box{
      position: relative;
      height: 240px;
      border:1px solid #ccc;
      border-radius: 16px;
      padding:10px 10px 30px;
      &.custom{
        height: 120px;
      }
    }
    select,
    input[type="text"],
    textarea,
    .add_polling{
      width: 100%;
      height: 42px;
      border-radius: 16px;
      padding: 0 10px;
      outline:0;
      border:1px solid #ccc;
      font-size: 14px;
    }
    .custom-select + .select2{
        background: url('../assets/images/main-assets/ic_user_red.svg') no-repeat right 6px center / 32px; 
    }
    .custom-select-resep + .select2{
        background: url('../assets/images/main-assets/ic_filter_red.svg') no-repeat right 6px center / 32px; 
    }
    .select2-container{
      width: 100% !important;
      .select2-selection--single{
        width: 100%;
        height: 42px;
        border-radius: 16px;
        padding: 0 10px;
        outline:0;
        border:1px solid #ccc;
        font-size: 14px;
        background: none;
      }
    }
    .select2-container--default .select2-selection--single{
      .select2-selection__rendered{
        line-height: 40px;
      }
      .select2-selection__arrow{
        display: none;
      }
    }
    textarea{
      padding: 0;
      resize: none;
      height:100%;
      border:none;
      border-radius: 0;
    }
    .search{
      background: url('../assets/images/main-assets/ic_search.svg') no-repeat center right 5px / 32px;
    }
    .notes{
      font-size: 12px;
      color:$dark-grey;
      display: block;
    }
    .info{
      color:$blue;
      font-size: 12px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      &.static{
        position: static;
      }
    }
    .red_btn,
    .cancel_btn{
      background: $red;
      width: 100%;
      height: 42px;
      line-height: 40px;
      display: block;
      border: none;
      border-radius: 40px;
      display: block;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      color:#fff;
    }
    .grey_text{
      color:$neutral-grey;
      font-size: 14px;
      font-weight: 700;
      border:none;
      background: none;
      width: 100%;
      display: block;
      text-align: center;
      line-height: 40px;
    }
    #preview_btn{
      width: 100%;
      height: 48px;
      border-radius: 40px;
      background: #F6FAF3;
      text-align: center;
      border:none;
      font-weight: 700;
      color:$green3;
      margin-bottom: 10px;
      display: block;
      line-height: 48px;
    }
    #save_btn{
      width: 100%;
      height: 48px;
      border-radius: 40px;
      background: none;
      text-align: center;
      border:none;
      font-weight: 700;
      color:$neutral-charcoal;
      margin-bottom: 10px;
      display: block;
      line-height: 48px;
    }
    .bottom_box{
      border-top:1px solid #ccc;
      padding:20px 0;
      margin-top: 0;
    }
    .agree_box{
      margin-bottom: 20px;
      position: relative;
      padding-left: 30px;
      input[type="checkbox"]{
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
      }
      a{
        color:$yellow;
        font-weight: 700;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    #post_btn{
      width: 100%;
      height: 48px;
      border-radius: 40px;
      background: #F6FAF3;
      text-align: center;
      border:none;
      font-weight: 700;
      color:$green3;
      margin-bottom: 10px;
      display: block;
      line-height: 48px;
    }
    #cancel_btn{
      width: 100%;
      height: 48px;
      border-radius: 40px;
      background: none;
      text-align: center;
      border:none;
      font-weight: 700;
      color:$yellow;
      margin-bottom: 10px;
      display: block;
      line-height: 48px;
    }
  }
}
.e_tab_menu{
  padding: 0 5%;
  ul{
    list-style: none;
    padding: 0;
    margin:0;
    overflow: hidden;
    li{
      display: block;
      float: left;
      width: calc(100% / 3);
      a{
        display: block;
        padding: 10px;
        font-size: 14px;
        font-weight: 700;
        color:$dark-grey;
        text-align: center;
        &.actived{
          background: $pink;
          color:$red;
          border-bottom:2px solid $red;
        }
      }
    }
  }
}
.e_tab_box{
  overflow: hidden;
  padding-top: 20px;
  display: none;
  .no_following{
    text-align: center;
    padding: 0 5%;
    font-size: 14px;
    img{
      display: block;
      width: 140px;
      margin:0 auto 20px;
    }
    h3{
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 10px;
    }
    .green_btn{
      width: 100%;
      border-radius: 40px;
      height: 42px;
      background: $green3;
      color:#fff;
      text-align: center;
      font-weight: 700;
      line-height: 40px;
      display: block;
      margin: 20px 0;
    }
  }
}
#foryou{
  display: block;
}
.e_popup_wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000001;
  overflow: scroll;
  display: none;
  .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }
  .e_popup_box{
    width: calc(100% - 40px);
    background: #fff;
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 40px;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
    img{
      width: 180px;
      display: block;
      margin:0 auto 20px;
    }
    h3{
      font-size: 22px;
      font-weight: 700;
    }
    .green_btn,
    .red_btn{
      background:$green3;
      color:#fff;
      height: 42px;
      line-height: 40px;
      width: 100%;
      display: block;
      border-radius: 40px;
      border:none;
      font-weight: 700;
      margin-top: 20px;
    }
    .red_btn{
      background: $red;
    }
    .cancel_btn{
      width: 100%;
      height: 42px;
      line-height: 40px;
      background: none;
      border:none;
      color:#c7c7c7;
      font-weight: 700;
      margin-top: 20px;
    }
  }
}
.e_popup_success{
  position: fixed;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 20px;
  background: $green3;
  z-index: 10000000;
  border-radius: 16px;
  padding: 15px;
  color:#fff;
  font-size: 12px;
  display: none;
  a{
    font-weight: 700;
  }
  h3{
    font-weight: 700;
    font-size: 16px;
  }
  .close_btn{
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 15px;
    color:#AFD79E;
  }
}
.e_popup_failed{
  position: fixed;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 20px;
  background: #B71C1C;
  z-index: 10000000;
  border-radius: 16px;
  padding: 15px;
  color:#fff;
  font-size: 12px;
  display: none;
  a{
    font-weight: 700;
  }
  h3{
    font-weight: 700;
    font-size: 16px;
  }
  .close_btn{
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 15px;
    color:#FF95A9;
  }
}
.e_popup_tips{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  overflow:scroll;
  z-index:100000;
  display: none;
  .popup_box{
    width: calc(100% - 40px);
    top:20px;
    left: 20px;
    position:absolute;
    background: #fff;
    border-radius: 16px;
    padding: 50px 20px 20px;
    text-align: center;
    h3{
      font-size: 22px;
      font-weight: 700;
    }
    p{
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .ept_box{
    margin-bottom: 20px;
    text-align: left;
    h4{
      font-size: 16px;
      font-weight: 700;
    }
    .ept_img{
      margin-bottom: 20px;
    }
  }
  .close_btn{
    font-size: 24px;
    position: absolute;
    top:10px;
    right: 20px;
    color:$neutral-grey;
  }
}
.e_popup_report{
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 1000000;
  display: none;
  .overlay{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }
  .popup_box{
    width: calc(100% - 40px);
    max-width: 360px;
    position: absolute;
    top:20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 16px;
    background: #fff;
    padding: 50px 20px 20px;
    text-align: center;
    h3{
      font-size: 16px;
      font-weight: 700;
    }
    p{
      font-size: 14px;
    }
  }
  .report_wrapper{
    margin-top: 20px;
  }
  .report_box{
    position: relative;
    font-size: 12px;
    text-align: left;
    color:#6D6D6D;
    font-weight: 400;
    input[type="radio"]{
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity:0;
      &:checked + .rp_box{
        background: $pink;
        border:1px solid $dark-pink;
        border-radius: 16px;
      }
    }
    .rp_box{
      padding: 15px 15px 15px 60px;
    }
    img{
      width: 32px;
      display: block;
      position: absolute;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    h5{
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 0;
      color:$neutral-charcoal;
    }
  }
  .ta_box{
    position: relative;
    height: 150px;
    border:1px solid #ccc;
    border-radius: 16px;
    padding:10px 10px 30px;
  }
  textarea{
    width: 100%;
    border-radius: 16px;
    outline:0;
    font-size: 14px;
    padding: 5px;
    resize: none;
    height:100%;
    border:none;
  }
  .notes{
    font-size: 12px;
    color:$dark-grey;
    display: block;
    text-align: left;
  }
  .info{
    color:$blue;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    &.static{
      position: static;
    }
  }
  .button_wrapper{
    display: block;
    margin-top: 20px;
  }
  .red_button{
    background: $red;
    width: 100%;
    height: 42px;
    line-height: 40px;
    display: block;
    border: none;
    border-radius: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color:#fff;
  }
  .red_text{
    color:$red;
    font-weight: 700;
    font-size: 14px;
    display: block;
    line-height: 40px;
  }
  .close_btn{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color:$neutral-charcoal;
    font-weight: 300;
  }
}

.select2-container--default .select2-results__option--disabled{
  .selectbox{
    background: #EEE;
    border-radius: 16px;
    color:#6D6D6D;
  }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background: rgba(255, 221, 227, 0.25);
}
.select2-selection__rendered{
  .selectbox{
    padding:3px 0 3px 35px;
    font-size: 12px;
    line-height: normal;
    &.resep{
      .selectImage{
        width: 30px;
        height: 30px;
      }
      .creator{
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        top: -1px;
        position: relative;
        margin-left: 5px;
      }
      .select_status{
        margin-top: 2px;
      }
      .stamp_img{
        width: 40px;
        height: 40px;
        right: 20px;
      }
    }
    .selectImage{
      width: 30px;
      height: 30px;
      border:1px solid $pink;
      top:5px;
      left:0;
    }
    .select_status{
      margin-top: 5px;
    }
    .starter{
      background: url('../assets/images/main-assets/green_crown.svg') no-repeat left center / 14px;
      padding-left: 20px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .legend{
      background: url('../assets/images/main-assets/gold_crown_verified.svg') no-repeat left center / 14px;
      padding-left: 20px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}
.selectbox{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color:#000;
  padding: 10px;
  padding-left: 80px;
  &.resep{
    min-height: 82px;
    line-height: normal;
    .selectImage{
      width: 60px;
      height: 60px;
      border-radius: 6px;
      border:none;
    }
    .select_status{
      margin-top: 5px;
    }
    .rating_text{
      color:#000;
      font-weight: 700;
      margin-left: 10px;
    }
    .creator{
      display: block;
      font-size: 12px;
      color:#6D6D6D;
      margin-top: 5px;
      font-weight: 400;
    }
    .one{
      width: 75px;
      height: 16px;
      text-indent:-9999px;
      display: inline-block;
      background: url('../assets/images/main-assets/star_one.svg') no-repeat top center / contain;
    }
    .two{
      width: 75px;
      height: 16px;
      text-indent:-9999px;
      display: inline-block;
      background: url('../assets/images/main-assets/star_two.svg') no-repeat top center / contain;
    }
    .three{
      width: 75px;
      height: 16px;
      text-indent:-9999px;
      display: inline-block;
      background: url('../assets/images/main-assets/star_three.svg') no-repeat top center / contain;
    }
    .four{
      width: 75px;
      height: 16px;
      text-indent:-9999px;
      display: inline-block;
      background: url('../assets/images/main-assets/star_four.svg') no-repeat top center / contain;
    }
    .five{
      width: 75px;
      height: 16px;
      text-indent:-9999px;
      display: inline-block;
      background: url('../assets/images/main-assets/star_five.svg') no-repeat top center / contain;
    }
    .stamp_img{
      width: 50px;
      height: 50px;
      display: block;
      position: absolute;
      top:0;
      left:auto;
      right: 0;
    }
  }
  .selectImage{
    width: 56px;
    height: 56px;
    border-radius: 56px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 10px;
    border:2px solid $pink;
  }
  img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .select_status{
    margin-top: 10px;
  }
  .starter{
    background: url('../assets/images/main-assets/green_crown.svg') no-repeat left center / 15px;
    color:$green2;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .good{
    background: url('../assets/images/main-assets/blue_crown.svg') no-repeat left center / 15px;
    color:$green2;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .reputable{
    background: url('../assets/images/main-assets/red_crown.svg') no-repeat left center / 15px;
    color:$green2;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .exclusive{
    background: url('../assets/images/main-assets/gold_crown_verified.svg') no-repeat left center / 15px;
    color:$yellow;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .red_text{
    color:$red;
  }
}