$red: #d80028;
$yellow: #f99707;
$white: #ffffff;
$blue: #2583b8;
$green: #62a047;
$green2: #4e8336;
$green3: #449e24;
$soft-red: #fff0f3;
$soft-green: #e9f5e3;
$soft-green2: #f6faf3;
$dark-yellow: #ffc035;
$dark-bronze: #f35523;
$light-bronze: #ffb7a0;
$light-grey: #d9d9d9;
$soft-yellow: #fff2c6;
$neutral-charcoal: #414141;
$pink: #ffdde3;
$dark-grey: #6d6d6d;
$dark-pink: #ff95a9;
$neutral-light: #e3e3e3;
$neutral-grey: #c7c7c7;
$neutral-matte: #1f1f1f;
$neutral-snow: #f9f9f9;
$neutral-silver: #eeeeee;
$brand-yellow: #fffaeb;

$input-border-radius: 10px;
$input-padding: 10px;
$button-border-radius: 50%;
$button-size: 30px;

.disabledOverflow {
  overflow: hidden;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

section {
  position: relative;
}

.bg-red {
  background-color: $red;
}

.bg-pink {
  background-color: $pink;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-white {
  background-color: $white;
}

.bg-soft-green {
  background-color: $soft-green;
}

.bg-green {
  background-color: $green;
}

.color-red {
  color: $red;
}

.color-pink {
  color: $pink;
}

.color-green {
  color: $green;
}

.color-blue {
  color: $blue;
}

.color-yellow {
  color: $yellow;
}

.a-button-default {
  width: 100%;
  display: block;
  text-align: center;
  padding: 4% 0%;
  border-radius: 40px;
}
.button-default {
  border: 0;
  padding: 3.5% 0;
  width: 100%;
  border-radius: 20px;
}

header.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;

  &.hidden {
    top: -100px;
  }

  .logo {
    width: 64px;
    margin-left: 20px;
  }

  .float-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    .wrapped {
      background-color: #ffffff;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .search-container {
        input[type="search" i]::-webkit-search-cancel-button {
          margin-right: 2% !important;
          color: red;
        }
        .button {
          display: inline-block;
          margin: 4px 2px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          color: white;
          text-decoration: none;
          cursor: pointer;
          user-select: none;
          &:hover {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
          }
        }

        .mglass {
          display: inline-block;
          pointer-events: none;
        }

        .searchbutton {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        .search:focus {
          + .searchbutton {
            transition-duration: 0.4s;
            background-color: white;
            color: black;
          }

          + .filterWrapper {
            display: block;
          }
        }

        .search {
          position: absolute;
          left: 50px;
          background-color: white;
          outline: none;
          border: none;
          padding: 0;
          width: 0;
          height: 100%;
          z-index: 10;
          transition-duration: 0.4s;
          &:focus {
            width: 70%;
          }
        }

        .expandright {
          left: auto;
          right: 5%;
          height: 50%;
          &:focus {
            border: 1px solid black;
            padding: 0 5%;
            border-radius: 20px;
            width: 90%;
          }
        }

        #dropdownSearch {
          display: none;
          position: absolute;
          padding: 1%;
          background-color: white;
          border: 1px solid #ccc;
          // max-height: 150px;
          // overflow-y: auto;
          z-index: 100;
          left: 5%;
          width: 90%;
          margin-top: 2%;
          border-radius: 20px;

          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          &:not(:focus-within) {
            display: none;
          }

          .suggestions {
            padding: 5%;
            .historySearch {
              h5 {
                color: $neutral-grey;
                font-weight: bold;
              }
              .removeButton {
                cursor: pointer;
                margin-right: 5px;
              }
              #historyList {
                padding: 0;
                list-style: none;
                li {
                  padding: 5px 0;
                  button {
                    border: 0;
                    background: none;
                    color: #555555;
                  }
                  span {
                    color: $neutral-charcoal;
                  }
                }
              }
            }
            .popularSearch {
              h5 {
                color: #d80028;
                font-weight: bold;
              }
              ul {
                padding: 0;
                list-style: none;
                li {
                  padding: 5px 0;
                  color: $dark-grey;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .filterWrapper {
          position: absolute;
          z-index: 999999;
          right: 20%;
          top: 32%;
          height: 100%;
          line-height: 50px;
          padding: 0 10px;
          cursor: pointer;
          background-color: transparent;
          color: red;
          display: none;
          .circle-button {
            border-radius: $button-border-radius;
            border: 0;
            width: $button-size;
            height: $button-size;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: $soft-red;
          }
        }
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
    .wrapped-right {
      background-color: $dark-yellow;
      border-radius: 50% 0 0 50%;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .wrapped-right {
    .dropdstart {
      .dropdown-menu {
        width: 100%;
        transform: translate(0px, 10%);
        height: 80vh;
        bottom: 0;
        &.show {
          transform: translate3d(0px, 16%, 0) !important;
        }
        .topSide {
          .achievements {
            margin-top: 20px;
            margin-bottom: 10px;
          }
          .memberSpan {
            img {
              margin-right: 5px;
            }
          }
        }

        .centerSide {
          width: 100%;
          .coinCounter {
            width: 100%;
            img {
              width: 24px;
            }
            margin: 5% 0;
            font-weight: bold;
            color: #d80028;
            width: fit-content;
            border-radius: 20px;
            padding: 5px 10px;
          }
          .lookCatalogue {
            background: $red;
            color: $white;
            width: 100%;
          }
        }
      }
    }
  }
}

.main_component {
  background-color: #feeaeb;
  background-image: url(../assets/images/home-page-assets/umami_bg.svg);
  background-size: 100%;
  background-position: top -1% left;
  background-repeat: no-repeat;
  padding: 20% 0 0% 0 !important;
  position: relative;

  .topSec {
    background-color: $white;

    .top {
      padding: 3% 5%;
      font-size: 12px;
      &.back {
        color: $red;
        a {
          font-weight: bold;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
  &.blur {
    background: rgba($color: #000000, $alpha: 0.4);
  }
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
  &.green {
    color: $green;
    background-color: $soft-green2;
  }
  &.orange {
    color: $yellow;
    background-color: $brand-yellow;
  }
  &.red {
    color: $red;
    background-color: $soft-red;
  }
}

footer {
  background-color: $red;
  .content {
    padding: 5% 8%;
    p {
      color: $white;
      text-align: center;
      padding: 3% 0;
    }

    .topForm {
      margin-top: 3%;
      padding: 0 0%;
      .wrapperBorder {
        background: $white;
        width: fit-content;
        border-radius: 20px 20px 0 0px;

        z-index: 2;
        position: relative;
        .wrapped {
          font-weight: bold;
          padding: 2% 8%;
          font-size: 80%;
          background-color: $yellow;
          width: max-content;
          border-radius: 20px 20px 0 20px;
        }
      }
      form {
        .input-group {
          background: $white;
          border-radius: 0px 20px 20px 20px;
          box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
          input {
            border: 0;
            padding: 15px;
            border-radius: 20px;
          }
          button {
            color: $red;
            span {
              border-radius: 20px;
              background: $soft-red;
              padding: 10px 14px;
            }
          }
        }
      }
    }

    img {
      width: 100%;
      margin: 3% 0;

      &.logo {
        width: 40%;
      }
    }

    .footerList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .listed {
        flex-basis: calc(50% - 10px);
        margin-bottom: 20px;
        a {
          font-weight: bold;
          color: $white;
        }

        // flex-basis: calc(33.33% - 10px); DESKTOP
      }
    }

    .socMedWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapped {
        background-color: $white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .aboutWrapper {
      display: flex;
      color: $white;
      align-items: center;
      justify-content: space-between;
    }

    .trademark {
      color: $white;
      font-size: 65%;
    }
  }
}

footer.stickyFoot {
  z-index: 888888;
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  height: 70px;
  align-items: flex-end;

  .smaller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 20px;
    height: auto;
  }
}
@keyframes squarePopup {
  from {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@keyframes squareFadeOut {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
}

.communityHidden {
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2% 4%;

  &.active {
    animation: squarePopup 1s ease-in-out forwards;
    bottom: 65px;
  }

  &.fadeOut {
    animation: squareFadeOut 1s ease-in-out forwards;
  }

  .insider {
    border-radius: 20px;
    padding: 3%;
    border: 1px solid hsl(0, 0%, 93%);
    margin: 5px 0;

    p {
      margin: 0;
    }
    &.green {
      h5 {
        color: $green;
      }
    }
    &.yellow {
      h5 {
        color: $yellow;
      }
    }
    &.red {
      h5 {
        color: $red;
      }
    }
  }
}

.cartHidden {
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;

  &.active {
    animation: squarePopup 1s ease-in-out forwards;
    bottom: 65px;
  }

  &.fadeOut {
    animation: squareFadeOut 1s ease-in-out forwards;
  }

  .insider {
    border-radius: 20px;
    padding: 5% 7%;
    border: 1px solid hsl(0, 0%, 93%);
    margin: 5px 0;
    p {
      font-size: 12px;
    }

    &.tokopedia {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 40%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.shopee {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 30%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.lazada {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 40%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.bukalapak {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 30%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    p {
      margin: 0;
      font-weight: bold;
    }
    &.green {
      h5 {
        color: $green;
      }
    }
    &.yellow {
      h5 {
        color: $yellow;
      }
    }
    &.red {
      h5 {
        color: $red;
      }
    }
  }
}

.menuHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 8% 10%;

  &.active {
    animation: squarePopup 1s ease-in-out forwards;
    bottom: 0px;
  }

  &.fadeOut {
    animation: squareFadeOut 1s ease-in-out forwards;
  }

  a {
    color: $red;
    h2 {
      margin: 0 0 20% 0;
    }
    &.upload-resep {
      background: $red;
      color: $white;
      padding: 10px 20px;
      border-radius: 40px;
      width: 50%;
      display: block;
      text-align: center;
    }
  }
  .accordion {
    width: 100%;
    .accordion-item {
      background: none;
      border: 0;

      h4 {
        margin: 0 0 5% 0;
      }

      button {
        margin: 0;

        background: none;
        border: 0;
        box-shadow: none;
        padding: 0;
        color: $red;
        position: relative;

        &[aria-expanded="false"]::after {
          background-image: url("../assets/images/main-assets/accordionDown.svg");
        }

        &[aria-expanded="true"]::after {
          background-image: url("../assets/images/main-assets/accordion.svg");
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          transform: none;
        }
      }

      .accordion-body {
        padding: 3%;
        a {
          color: $neutral-charcoal;
        }
      }
    }
  }
}

.customCardBuyProduct {
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      background: none;
      border: 0;
    }
  }

  &.active {
    animation: squarePopup 1s ease-in-out forwards;
    bottom: 65px;
  }

  &.fadeOut {
    animation: squareFadeOut 1s ease-in-out forwards;
  }

  .insider {
    border-radius: 20px;
    padding: 5% 7%;
    border: 1px solid hsl(0, 0%, 93%);
    margin: 5px 0;
    p {
      font-size: 12px;
    }

    &.tokopedia {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 40%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.shopee {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 30%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.lazada {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 40%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    &.bukalapak {
      p {
        padding-right: 15%;
        position: relative;
        img {
          width: 30%;
          position: absolute;
          right: 0%;
          top: 10%;
        }
      }
    }
    p {
      margin: 0;
      font-weight: bold;
    }
    &.green {
      h5 {
        color: $green;
      }
    }
    &.yellow {
      h5 {
        color: $yellow;
      }
    }
    &.red {
      h5 {
        color: $red;
      }
    }
  }
}

.text-error {
  color: $red;
}
.oneliner {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.twoliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.threeliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}
.fourliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

#scrollToTopButton {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #d80028;
  color: $white;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 999999999999;
}

#globalModal {
  padding: 0 10px;
  .modal-content {
    border-radius: 40px;
    padding: 5% 0;
    .modal-body {
      img {
        width: 50%;
        margin: 0 auto;
        display: flex;
      }
    }
    .modal-footer {
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .dismissed {
        background-color: $red;
        color: $white;
        margin: 5% 0;
        border-radius: 20px;
        font-weight: bold;
        width: 100%;
        padding: 5% 0;
      }
      .backToHome {
        color: $neutral-grey;
      }
    }
  }
}

@media (min-width: 768px) {
  header.sticky-header {
    padding: 1% 8%;
    background: white;

    .logo {
      width: 90px;
    }

    .links {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      a {
        color: black;
        font-weight: bold;
        &.red {
          color: $red;
        }
      }

      .dropdown-menu {
        border-radius: 16px;
        text-transform: capitalize;
        .dropdown-item {
          &:active {
            background-color: transparent !important;
            color: black !important;
          }
          .insider {
            border-radius: 20px;
            padding: 10px;
            border: 1px solid hsl(0, 0%, 93%);
            margin: 5px 0;

            h5 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
            &.green {
              h5 {
                color: $green;
                font-weight: bold;
              }
            }
            &.yellow {
              h5 {
                color: $yellow;
                font-weight: bold;
              }
            }
            &.red {
              h5 {
                color: $red;
                font-weight: bold;
              }
            }
            img {
              width: 24px;
            }
            &.shop {
              padding: 10px 10px;
              img {
                width: 50%;
              }
              .wrapper {
                position: relative;
                .absoluted {
                  position: absolute;
                  right: 0%;
                  bottom: 0%;
                  width: 50px;
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    .float-right {
      .wrapped {
        .search-container {
          .search:focus {
            + .searchbutton {
              background-color: transparent;
            }
          }
          #dropdownSearch {
            width: 66%;
            left: 17%;
            .suggestions {
              padding: 0;
            }
          }

          .expandright {
            right: 17%;
            &:focus {
              padding: 0 1%;
              width: 66%;
            }
          }
        }
      }
      .wrapped-right {
        border-radius: 50%;
        margin: 10px;

        &.account-icon {
          cursor: pointer;
          img {
            cursor: pointer;
          }
          .dropdstart {
            .dropdown-menu {
              width: 350px;
              height: unset;
              transform: unset;
              .topSide {
                width: 100%;
                margin: 0;

                .col-4 {
                  img {
                    height: 70%;
                    width: 100%;
                  }
                }
                .col-8 {
                  .memberSpan {
                    color: $neutral-charcoal;
                    font-weight: bold;
                    border-radius: 20px;
                    padding: 10px 10px;
                    img {
                      width: 20px;
                      height: 20px;
                      margin-right: 5px;
                    }
                  }
                  .achievements {
                    padding: 10px 0;
                    margin: 0;
                    img {
                      width: 24px;
                      margin: 0 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  footer.stickyFoot {
    display: none;
  }

  .main_component {
    padding: 6% 0 0 0 !important;
    background-image: url(../assets/images/home-page-assets/umami_bgD.png);

    .topSec {
      .top {
        padding: 2% 8%;
        font-size: 14px;
      }
    }
  }
  .a-button-default {
    padding: 1%;
  }
  .button-default {
    width: 25%;
    padding: 1%;
  }
  footer {
    .content {
      padding: 2% 8%;
      img.logo {
        width: 65%;
      }
      .vstack {
        .links {
          font-weight: bold;
          color: $white;
          display: flex;
          justify-content: space-between;
        }
        .socMedWrapper {
          justify-content: flex-start;
          align-items: flex-start;
        }
        .aboutWrapper {
          display: flex;
          justify-content: flex-start;

          a {
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .font-12 {
        font-size: 12px;
      }
    }
  }

  #globalModal {
    .modal-content {
      .modal-body {
        img {
          width: 20%;
          margin: 0 auto;
        }
      }
      .modal-footer {
        .dismissed {
          width: 60%;
          padding: 2% 0;
          margin: 0;
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .main_component {
    padding: 9% 0 0 0 !important;
  }
}
@media (min-width: 1440px) {
  .main_component {
    padding: 8% 0 0 0 !important;
  }
}

@media (min-width: 1600px) {
  .main_component {
    padding: 9% 0 0 0 !important;
  }
}
@media (min-width: 1800px) {
  .main_component {
    padding: 5% 0 0 0 !important;
  }
}
