.disabledOverflow {
  overflow: hidden;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

section {
  position: relative;
}

.bg-red {
  background-color: #d80028;
}

.bg-pink {
  background-color: #ffdde3;
}

.bg-yellow {
  background-color: #f99707;
}

.bg-white {
  background-color: #ffffff;
}

.bg-soft-green {
  background-color: #e9f5e3;
}

.bg-green {
  background-color: #62a047;
}

.color-red {
  color: #d80028;
}

.color-pink {
  color: #ffdde3;
}

.color-green {
  color: #62a047;
}

.color-blue {
  color: #2583b8;
}

.color-yellow {
  color: #f99707;
}

.a-button-default {
  width: 100%;
  display: block;
  text-align: center;
  padding: 4% 0%;
  border-radius: 20px;
}

.button-default {
  border: 0;
  padding: 3.5% 0;
  width: 100%;
  border-radius: 20px;
}

header.sticky-header,
header.sticky-header-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;
}
header.sticky-header.hidden,
header.sticky-header-desktop.hidden {
  top: -100px;
}
header.sticky-header .logo,
header.sticky-header-desktop .logo {
  width: 64px;
  margin-left: 20px;
}
header.sticky-header .float-right,
header.sticky-header-desktop .float-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header.sticky-header .float-right .wrapped,
header.sticky-header-desktop .float-right .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
header.sticky-header .float-right .wrapped img,
header.sticky-header-desktop .float-right .wrapped img {
  width: 25px;
  height: 25px;
}
header.sticky-header .float-right .wrapped-right,
header.sticky-header-desktop .float-right .wrapped-right {
  background-color: #ffc035;
  border-radius: 50% 0 0 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
header.sticky-header .float-right .wrapped-right img,
header.sticky-header-desktop .float-right .wrapped-right img {
  width: 25px;
  height: 25px;
}

.main_component {
  background-color: #feeaeb;
  background-image: url(../assets/images/home-page-assets/umami_bg.svg);
  background-size: 100%;
  background-position: top -1% left;
  background-repeat: no-repeat;
  padding: 25% 0 0% 0 !important;
  position: relative;
}
.main_component .topSec {
  background-color: #ffffff;
}
.main_component .topSec .top {
  padding: 3% 5%;
  font-size: 12px;
}
.main_component .topSec .top.back {
  color: #d80028;
}
.main_component .topSec .top.back a {
  font-weight: bold;
}
.main_component .topSec .top.back a i {
  font-size: 16px;
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
}
.pill.green {
  color: #62a047;
  background-color: #f6faf3;
}
.pill.orange {
  color: #f99707;
  background-color: #fffaeb;
}
.pill.red {
  color: #d80028;
  background-color: #fff0f3;
}

footer {
  background-color: #d80028;
}
footer .content {
  padding: 5% 8%;
}
footer .content p {
  color: #ffffff;
  text-align: center;
  padding: 3% 0;
}
footer .content .topForm {
  margin-top: 3%;
  padding: 0 5%;
}
footer .content .topForm .wrapperBorder {
  background: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px 20px 0 0px;
  z-index: 2;
  position: relative;
}
footer .content .topForm .wrapperBorder .wrapped {
  font-weight: bold;
  padding: 2% 8%;
  background-color: #f99707;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px 20px 0 20px;
}
footer .content .topForm form .input-group {
  background: #ffffff;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
footer .content .topForm form .input-group input {
  border: 0;
  padding: 15px;
  border-radius: 20px;
}
footer .content .topForm form .input-group button {
  color: #d80028;
}
footer .content .topForm form .input-group button span {
  border-radius: 20px;
  background: #fff0f3;
  padding: 10px 14px;
}
footer .content img {
  width: 100%;
  margin: 3% 0;
}
footer .content img.logo {
  width: 40%;
}
footer .content .footerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content .footerList .listed {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
footer .content .footerList .listed a {
  font-weight: bold;
  color: #ffffff;
}
footer .content .socMedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content .socMedWrapper .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer .content .socMedWrapper .wrapped img {
  width: 25px;
  height: 25px;
}
footer .content .aboutWrapper {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
footer .content .trademark {
  color: #ffffff;
  font-size: 65%;
}

footer.stickyFoot {
  z-index: 888888;
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  height: 70px;
  align-items: flex-end;
}
footer.stickyFoot .smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.stickyFoot img {
  width: 20px;
  height: auto;
}

@keyframes squarePopup {
  from {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@keyframes squareFadeOut {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
}
.communityHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 8% 5%;
}
.communityHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.communityHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.communityHidden .insider {
  border-radius: 20px;
  padding: 4%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.communityHidden .insider p {
  margin: 0;
}
.communityHidden .insider.green h5 {
  color: #62a047;
}
.communityHidden .insider.yellow h5 {
  color: #f99707;
}
.communityHidden .insider.red h5 {
  color: #d80028;
}

.cartHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.cartHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.cartHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.cartHidden .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.cartHidden .insider p {
  font-size: 12px;
}
.cartHidden .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider p {
  margin: 0;
  font-weight: bold;
}
.cartHidden .insider.green h5 {
  color: #62a047;
}
.cartHidden .insider.yellow h5 {
  color: #f99707;
}
.cartHidden .insider.red h5 {
  color: #d80028;
}

.menuHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 8% 10%;
}
.menuHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 0px;
}
.menuHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.menuHidden a {
  color: #d80028;
}
.menuHidden a h2 {
  margin: 0 0 20% 0;
}
.menuHidden a.upload-resep {
  background: #d80028;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 40px;
  width: 50%;
  display: block;
  text-align: center;
}
.menuHidden .accordion {
  width: 100%;
}
.menuHidden .accordion .accordion-item {
  background: none;
  border: 0;
}
.menuHidden .accordion .accordion-item button {
  margin: 0 0 5% 0;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  color: #d80028;
  position: relative;
}
.menuHidden .accordion .accordion-item button[aria-expanded=false]::after {
  background-image: url("../assets/images/main-assets/accordionDown.svg");
}
.menuHidden .accordion .accordion-item button[aria-expanded=true]::after {
  background-image: url("../assets/images/main-assets/accordion.svg");
}
.menuHidden .accordion .accordion-item button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transform: none;
}
.menuHidden .accordion .accordion-item .accordion-body {
  padding: 3%;
}
.menuHidden .accordion .accordion-item .accordion-body a {
  color: #414141;
}

.customCardBuyProduct {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.customCardBuyProduct .buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.customCardBuyProduct .buttonWrapper button {
  background: none;
  border: 0;
}
.customCardBuyProduct.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.customCardBuyProduct.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.customCardBuyProduct .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.customCardBuyProduct .insider p {
  font-size: 12px;
}
.customCardBuyProduct .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider p {
  margin: 0;
  font-weight: bold;
}
.customCardBuyProduct .insider.green h5 {
  color: #62a047;
}
.customCardBuyProduct .insider.yellow h5 {
  color: #f99707;
}
.customCardBuyProduct .insider.red h5 {
  color: #d80028;
}

.text-error {
  color: #d80028;
}

.oneliner {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.twoliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.threeliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.fourliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

#scrollToTopButton {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #d80028;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

#globalModal {
  padding: 0 10px;
}
#globalModal .modal-content {
  border-radius: 40px;
  padding: 5% 0;
}
#globalModal .modal-content .modal-body img {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
#globalModal .modal-content .modal-footer {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#globalModal .modal-content .modal-footer .dismissed {
  background-color: #d80028;
  color: #ffffff;
  margin: 5% 0;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 5% 0;
}
#globalModal .modal-content .modal-footer .backToHome {
  color: #c7c7c7;
}

@media (min-width: 768px) {
  header.desktopHeader {
    padding: 1% 8%;
  }
  header.desktopHeader .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header.desktopHeader .links a {
    color: black;
    font-weight: bold;
  }
  header.desktopHeader .links a.red {
    color: #d80028;
  }
  header.desktopHeader .float-right .wrapped-right {
    border-radius: 50%;
    margin: 10px;
  }
  footer.stickyFoot {
    display: none;
  }
  .main_component {
    padding: 0 !important;
  }
  .button-default {
    width: 25%;
    padding: 1%;
  }
  footer .content img.logo {
    width: 100%;
  }
  footer .content .vstack .links {
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  footer .content .vstack .socMedWrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .content .vstack .aboutWrapper {
    display: flex;
    justify-content: flex-start;
  }
  footer .content .vstack .aboutWrapper a {
    margin-right: 15px;
  }
  footer .content .vstack .aboutWrapper a:last-child {
    margin-right: 0;
  }
  footer .content .font-12 {
    font-size: 12px;
  }
}
.firstSec {
  background-color: #ffdde3;
  background-image: url("../assets/images/home-page-assets/umami_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0% 0 3% 0;
  overflow: hidden;
}
.firstSec .swiper-container {
  width: 100%;
  overflow: hidden;
  padding: 10% 5% 15% 5%;
  position: relative;
}
.firstSec .swiper-container .swiper-pagination {
  text-align: left;
  left: 5%;
  bottom: 5%;
  position: absolute;
}
.firstSec .swiper-container .swiper-button-next,
.firstSec .swiper-container .swiper-button-prev {
  display: none !important;
}
.firstSec .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(216, 0, 40, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.firstSec .swiper-container .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(216, 0, 40);
  opacity: 1;
}
.firstSec .swiper-container .swiper-slide img {
  border-radius: 30px;
}
.firstSec .topMainMenu {
  padding: 5% 0;
  justify-content: space-evenly;
}
.firstSec .topMainMenu .bg-white {
  padding: 8px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
  border-radius: 16px;
}
.firstSec .topMainMenu .bg-white img {
  width: 50%;
}
.firstSec .topMainMenu .bg-white p {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 12px;
}

.secondSec {
  background-color: #ffdde3;
}
.secondSec .topForm {
  padding: 0 5%;
}
.secondSec .topForm .wrapperBorder {
  background: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px 20px 0 0px;
  z-index: 2;
  position: relative;
}
.secondSec .topForm .wrapperBorder .wrapped {
  font-weight: bold;
  padding: 2% 8%;
  background-color: #f99707;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px 20px 0 20px;
}
.secondSec .topForm form .input-group {
  background: #ffffff;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
.secondSec .topForm form .input-group input {
  border: 0;
  padding: 15px;
  border-radius: 20px;
}
.secondSec .topForm form .input-group button {
  color: #d80028;
}
.secondSec .jurnal-umami {
  margin: 25px 15px 0px 15px;
  border-radius: 15px;
  background: #ffffff;
}
.secondSec .jurnal-umami .content {
  padding: 5% 5%;
}
.secondSec .jurnal-umami .content h2 {
  color: #62a047;
  font-weight: bold;
}
.secondSec .jurnal-umami .content .description {
  color: #6d6d6d;
}
.secondSec .jurnal-umami .content .wrappedInfo {
  padding: 15px 0;
}
.secondSec .jurnal-umami .content .wrappedInfo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.secondSec .jurnal-umami .content .wrappedInfo img.main-image {
  border: 1px solid #e3e3e3;
  border-radius: 20px 0 0 20px;
}
.secondSec .jurnal-umami .content .wrappedInfo p {
  margin: 0;
  text-align: left;
  padding: 0 10%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.secondSec .jurnal-umami .content .wrappedInfo .authorInfo {
  color: #2583b8;
  text-align: left;
  padding: 0 10%;
  font-size: 13px;
}
.secondSec .jurnal-umami .content .wrappedInfo .authorInfo img {
  width: 15px;
}
.secondSec .jurnal-umami .content .wrappedInfo .bg-white {
  border-radius: 0px 20px 20px 0px;
  padding: 15px 0;
  border: 1px solid #e3e3e3;
}
.secondSec .jurnal-umami .content .wrappedInfo .infoWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.secondSec .jurnal-umami .content .wrappedInfo .infoWrapper img {
  color: #d80028;
  width: 50px;
  padding: 0 5% 0 10%;
}
.secondSec .jurnal-umami .content .see-more {
  font-weight: bold;
  color: #ffffff;
}

.thirdSec {
  background: #ffdde3;
  padding-bottom: 10%;
}
.thirdSec .nutri-expert {
  margin: 0px 15px;
  border-radius: 15px;
  padding-top: 10%;
}
.thirdSec .nutri-expert .content {
  padding: 5% 5%;
  border-radius: 15px;
  background: #ffffff;
}
.thirdSec .nutri-expert .content h2 {
  color: #ffc035;
  font-weight: bold;
}
.thirdSec .nutri-expert .content .description {
  color: #414141;
}
.thirdSec .nutri-expert .content .wrappedInfo {
  padding: 15px 0;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  margin: 10px 0;
}
.thirdSec .nutri-expert .content .wrappedInfo p {
  margin: 0;
  text-align: left;
  padding: 0 5%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.thirdSec .nutri-expert .content .wrappedInfo .bg-white {
  border-radius: 20px;
  padding: 15px 0;
}
.thirdSec .nutri-expert .content .wrappedInfo .infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-size: 14px;
}
.thirdSec .nutri-expert .content .wrappedInfo .infoWrapper .author {
  font-weight: normal;
  padding: 0;
  color: #ffc035;
}
.thirdSec .nutri-expert .content .wrappedInfo .infoWrapper .smallDetails {
  align-items: center;
  display: flex;
  justify-content: center;
}
.thirdSec .nutri-expert .content .wrappedInfo .infoWrapper .smallDetails img {
  color: #d80028;
  width: 50px;
  padding: 0 5% 0 10%;
}
.thirdSec .nutri-expert .content .see-more {
  font-weight: bold;
  color: #ffffff;
}

.fourthSec h1,
.fourthSec h2,
.fourthSec p {
  text-align: center;
}
.fourthSec .resep-today {
  background: url("../assets/images/home-page-assets/resepHariini_red.svg"), linear-gradient(180deg, rgb(216, 0, 40) 100%, rgba(216, 0, 40, 0) 0%);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.fourthSec .resep-today .content {
  padding: 5%;
}
.fourthSec .resep-today .content h2 {
  color: #f99707;
}
.fourthSec .resep-today .content .date {
  color: #ffffff;
  font-weight: bold;
}
.fourthSec .resep-today .content .collegeWrapper .circleWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.fourthSec .resep-today .content .collegeWrapper .circleWrapper .bigImg {
  border-radius: 20px 20px 0 0;
}
.fourthSec .resep-today .content .collegeWrapper .circleWrapper .circle {
  position: absolute;
  background: #d80028;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 5px solid white;
  padding: 6%;
  text-align: center;
  top: -15%;
  color: #ff95a9;
}
.fourthSec .resep-today .content .collegeWrapper .circleWrapper .circle span {
  color: #ffc035;
}
.fourthSec .resep-today .content .collegeWrapper .scheduleWrapper {
  background: #ffffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0 0px 20px 20px;
  margin: 0;
}
.fourthSec .resep-today .content .collegeWrapper .scheduleWrapper .each {
  padding: 5% 3%;
  border-bottom: 1px solid #eeeeee;
}
.fourthSec .resep-today .content .collegeWrapper .scheduleWrapper .each:nth-last-child(1) {
  border-bottom: none;
}
.fourthSec .resep-today .content .collegeWrapper .scheduleWrapper .each .custompill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
  color: #d80028;
  border: 1px solid #ffdde3;
  margin-right: 10px;
}
.fourthSec .resep-today .content .description {
  color: #ffffff;
}
.fourthSec .resep-today .content .wrappedInfo {
  padding: 15px 0;
}
.fourthSec .resep-today .content .wrappedInfo p {
  margin: 0;
  text-align: left;
  padding: 0 10%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white {
  border-radius: 20px;
  padding: 0;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper {
  position: relative;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper img {
  border-radius: 20px 20px 0 0;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper .timeContainer {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 5%;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: white;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper .timeContainer img {
  width: 30px;
  height: 30px;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper .heart-container {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper .heart-container .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #c0c0c0;
  cursor: pointer;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .imgWrapper .heart-container .heart.toggled {
  color: #ff0000;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content {
  padding: 5%;
  min-height: 150px;
  background-size: contain !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content.green_approved {
  background: url("../assets/images/home-page-assets/green-approved.svg");
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content.red_approved {
  background: url("../assets/images/home-page-assets/red-approved.svg");
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content .bottomListed .speciality-list span {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content .bottomListed .speciality-list span.green {
  color: #62a047;
  background-color: #f6faf3;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content .bottomListed .rating {
  display: inline-block;
  font-size: 18px;
  color: #ffd700;
  cursor: pointer;
}
.fourthSec .resep-today .content .wrappedInfo .bg-white .content .bottomListed .rating.unchecked {
  color: #c0c0c0;
}
.fourthSec .resep-today .content .see-more {
  font-weight: bold;
  color: #ffffff;
}

.fifthSec {
  background-color: #eeeeee;
}
.fifthSec .content {
  padding: 5% 8%;
}
.fifthSec .content h2 {
  text-align: center;
  padding: 10% 0 3% 0;
}
.fifthSec .content .wrappedInfo {
  padding: 0px 0;
  margin: 16px 0;
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
}
.fifthSec .content .wrappedInfo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fifthSec .content .wrappedInfo img.main-image {
  border: 1px solid #e3e3e3;
  border-radius: 20px 0 0 20px;
}
.fifthSec .content .wrappedInfo .bg-white {
  border-radius: 0px 20px 20px 0px;
  padding: 15px 5%;
  border: 1px solid #e3e3e3;
}
.fifthSec .content .wrappedInfo .bg-white p {
  margin: 0;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
  padding: 10px 0;
}
.fifthSec .content .wrappedInfo .bg-white .date-created {
  font-size: 12px;
}
.fifthSec .content .wrappedInfo .bg-white span {
  padding: 5px 15px;
  border-radius: 20px;
}
.fifthSec .content .wrappedInfo .bg-white span.green {
  color: #62a047;
  background-color: #f6faf3;
}
.fifthSec .content .wrappedInfo .bg-white span.orange {
  color: #f99707;
  background-color: #fffaeb;
}

.sixthSec h2,
.sixthSec p {
  text-align: center;
}
.sixthSec h2 {
  color: #62a047;
}
.sixthSec p {
  color: #414141;
}
.sixthSec .resep-pilihan-mama {
  background: url("../assets/images/home-page-assets/bg-green.png"), linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #7cc554 90%);
  background-position: bottom, center;
  background-repeat: no-repeat;
}
.sixthSec .resep-pilihan-mama .content {
  padding: 5% 8%;
}
.sixthSec .resep-pilihan-mama .content h2 {
  font-weight: bold;
}
.sixthSec .resep-pilihan-mama .content .row {
  justify-content: center;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo {
  margin: 4% 0;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo p {
  margin: 0;
  text-align: left;
  padding: 0 10%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white {
  border-radius: 20px;
  padding: 0;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .imgWrapper {
  position: relative;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .imgWrapper img {
  border-radius: 20px 20px 0 0;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .imgWrapper .heart-container {
  display: inline-block;
  position: absolute;
  bottom: -10%;
  right: 5%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .imgWrapper .heart-container .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #c0c0c0;
  cursor: pointer;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .imgWrapper .heart-container .heart.toggled {
  color: #ff0000;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content {
  padding: 5% 8%;
  min-height: 150px;
  background-size: 50% !important;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content p {
  font-size: 75%;
  padding: 0;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content.green_approved {
  background: url("../assets/images/home-page-assets/green-approved.svg");
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content.red_approved {
  background: url("../assets/images/home-page-assets/red-approved.svg");
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content span {
  font-weight: bold;
  font-size: 85%;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .speciality-list span {
  font-size: 75%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .speciality-list span.green {
  color: #62a047;
  background-color: #f6faf3;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .rating {
  display: inline-block;
  font-size: 95%;
  color: #ffd700;
  cursor: pointer;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .rating.unchecked {
  color: #c0c0c0;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .timeWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff0f3;
  color: #d80028;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 75%;
}
.sixthSec .resep-pilihan-mama .content .row .wrappedInfo .bg-white .content .bottomListed .timeWrapper img {
  width: 15px;
  margin-right: 5px;
}
.sixthSec .resep-pilihan-mama .content .see-more {
  font-weight: bold;
  color: #62a047;
}

.seventhSec {
  padding-bottom: 3%;
  overflow: hidden;
  background: #fff0f3;
}
.seventhSec .content {
  padding: 5% 8%;
}
.seventhSec .content h2 {
  font-weight: bold;
  color: #d80028;
}
.seventhSec .content p {
  color: #6d6d6d;
}
.seventhSec .content .see-more {
  font-weight: bold;
  color: #ffffff;
}
.seventhSec .swiper-container2 {
  width: 100%;
  overflow: hidden;
  padding: 3% 2%;
}
.seventhSec .swiper-container2 .swiper-pagination2 {
  text-align: left;
  left: 5%;
  bottom: 15%;
  position: absolute;
}
.seventhSec .swiper-container2 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.seventhSec .swiper-container2 .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.seventhSec .swiper-container2 .swiper-slide img {
  border-radius: 30px;
}
.seventhSec .swiper-container2 .topContent {
  position: absolute;
  top: 5%;
  left: 5%;
}
.seventhSec .swiper-container2 .topContent h4 {
  font-weight: bold;
  color: #ffffff;
}
.seventhSec .swiper-container2 .topContent .recipesCount {
  color: #62a047;
  background-color: #f6faf3;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}

.eighthSec {
  background-color: #eeeeee;
  padding-bottom: 3%;
  overflow: hidden;
}
.eighthSec .content {
  padding: 5% 8%;
}
.eighthSec .content .see-more {
  font-weight: bold;
  color: #d80028;
}
.eighthSec .swiper-container3 {
  width: 100%;
  overflow: hidden;
  padding: 3% 5%;
}
.eighthSec .swiper-container3 .swiper-pagination3 {
  text-align: left;
  left: 5%;
  bottom: 15%;
  position: absolute;
}
.eighthSec .swiper-container3 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.eighthSec .swiper-container3 .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.eighthSec .swiper-container3 .swiper-slide img {
  border-radius: 30px 30px 0 0;
}
.eighthSec .swiper-container3 .swiper-slide .bg-white {
  border-radius: 0 0 30px 30px;
  padding: 3% 10%;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
}
.eighthSec .swiper-container3 .swiper-slide .bg-white h5 {
  color: #1f1f1f;
}
.eighthSec .swiper-container3 .swiper-slide .bg-white p {
  color: #6d6d6d;
}
.eighthSec .swiper-container3 .topContent {
  position: absolute;
  top: 5%;
  left: 5%;
}
.eighthSec .swiper-container3 .topContent h4 {
  font-weight: bold;
  color: #ffffff;
}
.eighthSec .swiper-container3 .topContent .recipesCount {
  color: #62a047;
  background-color: #f6faf3;
  padding: 3px 5px;
  border-radius: 20px;
  font-weight: bold;
}

.ninthSec h2,
.ninthSec p {
  text-align: center;
}
.ninthSec h2 {
  color: #d80028;
  font-weight: bold;
}
.ninthSec p {
  color: #414141;
}
.ninthSec .produk-umami {
  background: #f9f9f9;
}
.ninthSec .produk-umami .content {
  padding: 5% 8%;
}
.ninthSec .produk-umami .content .row {
  justify-content: center;
}
.ninthSec .produk-umami .content .row .wrappedInfo {
  margin: 4% 0;
}
.ninthSec .produk-umami .content .row .wrappedInfo p {
  margin: 0;
  text-align: left;
  padding: 0 10%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.ninthSec .produk-umami .content .row .wrappedInfo .bg-white {
  border-radius: 20px;
  padding: 0;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
}
.ninthSec .produk-umami .content .row .wrappedInfo .bg-white .imgWrapper {
  position: relative;
}
.ninthSec .produk-umami .content .row .wrappedInfo .bg-white .imgWrapper img {
  border-radius: 20px 20px 0 0;
}
.ninthSec .produk-umami .content .row .wrappedInfo .bg-white .content {
  padding: 5% 8%;
  min-height: 70px;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
  border-radius: 20px;
}
.ninthSec .produk-umami .content .row .wrappedInfo .bg-white .content p {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
.ninthSec .produk-umami .content .see-more {
  font-weight: bold;
  color: #ffffff;
}

.tenthSec .play {
  background: url("../assets/images/home-page-assets/play-circle.svg");
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
  border: 0;
  background-repeat: no-repeat;
}
.tenthSec .videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}
.tenthSec .videoContainer .gallery_player {
  width: 100%;
}
.tenthSec .videoContainer .gallery_player .video-player {
  padding-bottom: 52.25%;
  position: relative;
  overflow: hidden;
}
.tenthSec .videoContainer .gallery_player .video-player .titleTop {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  z-index: 100;
  text-align: left;
  padding: 0 5%;
}
.tenthSec .videoContainer .gallery_player .video-player .image-wrapper,
.tenthSec .videoContainer .gallery_player .video-player .play {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tenthSec .videoContainer .gallery_player .video-player .image-wrapper,
.tenthSec .videoContainer .gallery_player .video-player .image {
  width: 100%;
}
.tenthSec .videoContainer .gallery_player .video-player .image.onMobile {
  display: none;
}
.tenthSec .videoContainer .gallery_player .video-player .preview,
.tenthSec .videoContainer .gallery_player .video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tenthSec .videoContainer .gallery_player .video-player [data-hidden=true] {
  display: none;
}

@media (min-width: 768px) {
  .firstSec {
    background-image: url("../assets/images/home-page-assets/umami_bgD.png");
  }
  .firstSec .swiper-container {
    padding: 6% 5% 3% 5%;
  }
  .firstSec .swiper-container .swiper-pagination {
    left: 50%;
  }
  .firstSec .topMainMenu {
    padding: 0% 5% 0% 5%;
  }
  .secondSec .topForm {
    padding: 0% 10% 0% 10%;
  }
  .secondSec .jurnal-umami {
    margin: 5% 0 0 0;
    border-radius: 0;
  }
  .thirdSec {
    padding-bottom: 0;
  }
  .thirdSec .nutri-expert {
    padding: 0;
    margin: 0;
  }
  .thirdSec .nutri-expert .content {
    padding: 0% 5% 5% 5%;
    border-radius: 0;
  }
  .fourthSec .resep-today .content .collegeWrapper .scheduleWrapper .each {
    padding: 2% 3%;
    border: 0;
  }
  .fourthSec .resep-today .content .collegeWrapper .scheduleWrapper .each .custompill {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fourthSec .resep-today .content .collegeWrapper .circleWrapper .full-height-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .fourthSec .resep-today .content .collegeWrapper .circleWrapper .bigImg {
    width: 100%;
    flex-grow: 1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0;
  }
  .fourthSec .resep-today .content .collegeWrapper .circleWrapper .circle {
    top: 35%;
  }
  .fifthSec .content h2 {
    padding: 0;
  }
  .fifthSec .content .wrappedInfo img.main-image {
    border-radius: 20px 20px 0 0;
  }
  .fifthSec .content .wrappedInfo .bg-white {
    border-radius: 0 0 20px 20px;
  }
  .sixthSec .resep-pilihan-mama {
    background: url("../assets/images/home-page-assets/bg-greenD.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sixthSec .resep-pilihan-mama .content {
    padding: 5% 8%;
  }
  .seventhSec {
    padding: 0;
  }
  .seventhSec .swiper-container2 {
    padding: 0 8%;
  }
  .eighthSec {
    background: #ffffff;
  }
  .eighthSec .swiper-container3 {
    padding: 1% 8%;
  }
  .tenthSec .videoContainer {
    padding: 0;
  }
}/*# sourceMappingURL=homepage.css.map */