.disabledOverflow {
  overflow: hidden;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

section {
  position: relative;
}

.bg-red {
  background-color: #d80028;
}

.bg-pink {
  background-color: #ffdde3;
}

.bg-yellow {
  background-color: #f99707;
}

.bg-white {
  background-color: #ffffff;
}

.bg-soft-green {
  background-color: #e9f5e3;
}

.bg-green {
  background-color: #62a047;
}

.color-red {
  color: #d80028;
}

.color-pink {
  color: #ffdde3;
}

.color-green {
  color: #62a047;
}

.color-blue {
  color: #2583b8;
}

.color-yellow {
  color: #f99707;
}

.a-button-default {
  width: 100%;
  display: block;
  text-align: center;
  padding: 4% 0%;
  border-radius: 20px;
}

.button-default {
  border: 0;
  padding: 3.5% 0;
  width: 100%;
  border-radius: 20px;
}

header.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;
}
header.sticky-header.hidden {
  top: -100px;
}
header.sticky-header .logo {
  width: 64px;
  margin-left: 20px;
}
header.sticky-header .float-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header.sticky-header .float-right .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
header.sticky-header .float-right .wrapped img {
  width: 25px;
  height: 25px;
}
header.sticky-header .float-right .wrapped-right {
  background-color: #ffc035;
  border-radius: 50% 0 0 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
header.sticky-header .float-right .wrapped-right img {
  width: 25px;
  height: 25px;
}

.main_component {
  background-color: #feeaeb;
  background-image: url(../assets/images/home-page-assets/umami_bg.svg);
  background-size: 100%;
  background-position: top -1% left;
  background-repeat: no-repeat;
  padding: 25% 0 0% 0 !important;
  position: relative;
}
.main_component .topSec {
  background-color: #ffffff;
}
.main_component .topSec .top {
  padding: 3% 5%;
  font-size: 12px;
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
}
.pill.green {
  color: #62a047;
  background-color: #f6faf3;
}
.pill.orange {
  color: #f99707;
  background-color: #fffaeb;
}
.pill.red {
  color: #d80028;
  background-color: #fff0f3;
}

footer {
  background-color: #d80028;
}
footer .content {
  padding: 5% 8%;
}
footer .content p {
  color: #ffffff;
  text-align: center;
  padding: 3% 0;
}
footer .content .topForm {
  margin-top: 3%;
  padding: 0 5%;
}
footer .content .topForm .wrapperBorder {
  background: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px 20px 0 0px;
  z-index: 2;
  position: relative;
}
footer .content .topForm .wrapperBorder .wrapped {
  font-weight: bold;
  padding: 2% 8%;
  background-color: #f99707;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px 20px 0 20px;
}
footer .content .topForm form .input-group {
  background: #ffffff;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
footer .content .topForm form .input-group input {
  border: 0;
  padding: 15px;
  border-radius: 20px;
}
footer .content .topForm form .input-group button {
  color: #d80028;
}
footer .content .topForm form .input-group button span {
  border-radius: 20px;
  background: #fff0f3;
  padding: 10px 14px;
}
footer .content img {
  width: 100%;
  margin: 3% 0;
}
footer .content img.logo {
  width: 40%;
}
footer .content .footerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content .footerList .listed {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
footer .content .footerList .listed a {
  font-weight: bold;
  color: #ffffff;
}
footer .content .socMedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content .socMedWrapper .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer .content .socMedWrapper .wrapped img {
  width: 25px;
  height: 25px;
}
footer .content .aboutWrapper {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
footer .content .trademark {
  color: #ffffff;
  font-size: 65%;
}

footer.stickyFoot {
  z-index: 888888;
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  height: 70px;
  align-items: flex-end;
}
footer.stickyFoot .smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.stickyFoot img {
  width: 20px;
  height: auto;
}

@keyframes squarePopup {
  from {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@keyframes squareFadeOut {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
}
.communityHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 8% 5%;
}
.communityHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.communityHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.communityHidden .insider {
  border-radius: 20px;
  padding: 4%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.communityHidden .insider p {
  margin: 0;
}
.communityHidden .insider.green h5 {
  color: #62a047;
}
.communityHidden .insider.yellow h5 {
  color: #f99707;
}
.communityHidden .insider.red h5 {
  color: #d80028;
}

.cartHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.cartHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.cartHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.cartHidden .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.cartHidden .insider p {
  font-size: 12px;
}
.cartHidden .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider p {
  margin: 0;
  font-weight: bold;
}
.cartHidden .insider.green h5 {
  color: #62a047;
}
.cartHidden .insider.yellow h5 {
  color: #f99707;
}
.cartHidden .insider.red h5 {
  color: #d80028;
}

.menuHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 8% 10%;
}
.menuHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 0px;
}
.menuHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.menuHidden a {
  color: #d80028;
}
.menuHidden a h2 {
  margin: 0 0 20% 0;
}
.menuHidden a.upload-resep {
  background: #d80028;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 40px;
  width: 50%;
  display: block;
  text-align: center;
}
.menuHidden .accordion {
  width: 100%;
}
.menuHidden .accordion .accordion-item {
  background: none;
  border: 0;
}
.menuHidden .accordion .accordion-item button {
  margin: 0 0 5% 0;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  color: #d80028;
  position: relative;
}
.menuHidden .accordion .accordion-item button[aria-expanded=false]::after {
  background-image: url("/assets/images/main-assets/accordionDown.svg");
}
.menuHidden .accordion .accordion-item button[aria-expanded=true]::after {
  background-image: url("/assets/images/main-assets/accordion.svg");
}
.menuHidden .accordion .accordion-item button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transform: none;
}
.menuHidden .accordion .accordion-item .accordion-body {
  padding: 3%;
}
.menuHidden .accordion .accordion-item .accordion-body a {
  color: #414141;
}

.customCardBuyProduct {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.customCardBuyProduct .buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.customCardBuyProduct .buttonWrapper button {
  background: none;
  border: 0;
}
.customCardBuyProduct.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.customCardBuyProduct.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.customCardBuyProduct .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.customCardBuyProduct .insider p {
  font-size: 12px;
}
.customCardBuyProduct .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider p {
  margin: 0;
  font-weight: bold;
}
.customCardBuyProduct .insider.green h5 {
  color: #62a047;
}
.customCardBuyProduct .insider.yellow h5 {
  color: #f99707;
}
.customCardBuyProduct .insider.red h5 {
  color: #d80028;
}

.text-error {
  color: #d80028;
}

.oneliner {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.twoliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.threeliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.fourliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

#scrollToTopButton {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #d80028;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

#globalModal {
  padding: 0 10px;
}
#globalModal .modal-content {
  border-radius: 40px;
  padding: 5% 0;
}
#globalModal .modal-content .modal-body img {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
#globalModal .modal-content .modal-footer {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#globalModal .modal-content .modal-footer .dismissed {
  background-color: #d80028;
  color: #ffffff;
  margin: 5% 0;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 5% 0;
}
#globalModal .modal-content .modal-footer .backToHome {
  color: #c7c7c7;
}

.news-campaign .contentInside .top {
  padding: 3% 5%;
  background: #ffffff;
}
.news-campaign .contentInside .top h3 {
  font-weight: bold;
}
.news-campaign .contentInside .top h4 {
  color: #d80028;
  font-weight: bold;
}
.news-campaign .contentInside .looper {
  background: #f9f9f9;
  padding: 3% 5%;
}
.news-campaign .contentInside .looper .each {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  margin: 5% 0;
}
.news-campaign .contentInside .looper .each .imageWrapper {
  position: relative;
}
.news-campaign .contentInside .looper .each .imageWrapper img {
  border-radius: 20px;
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper {
  position: absolute;
  bottom: 0;
  padding: 2% 5%;
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper.green {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(78, 131, 54) 60%);
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper.red {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(216, 0, 40) 60%);
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper.blue {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(37, 131, 184) 60%);
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper h1 {
  color: #ffffff;
  font-size: calc(3rem + 1.5vw);
  font-weight: bold;
}
.news-campaign .contentInside .looper .each .imageWrapper .detailWrapper .smallDets {
  border: 1px solid #ffdde3;
  border-radius: 20px;
  padding: 3px 10px;
  color: #ffffff;
}
.news-campaign .contentInside .looper .each .bottomInfo {
  padding: 2% 5%;
}
.news-campaign .contentInside .looper .each .bottomInfo .readMore {
  color: #d80028;
  font-weight: bold;
  background: #ffdde3;
  padding: 3% 8%;
  border-radius: 20px;
  margin: 5% 0;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.articletips .topContent,
.promoevents .topContent {
  background-color: #ffffff;
  padding-bottom: 3%;
  overflow: hidden;
}
.articletips .topContent .content,
.promoevents .topContent .content {
  padding: 5% 8%;
}
.articletips .topContent .content h3,
.promoevents .topContent .content h3 {
  font-weight: bold;
}
.articletips .topContent .content .see-more,
.promoevents .topContent .content .see-more {
  font-weight: bold;
  color: #d80028;
}
.articletips .topContent .swiper-container,
.promoevents .topContent .swiper-container {
  width: 100%;
  overflow: hidden;
  padding: 3% 5%;
}
.articletips .topContent .swiper-container .swiper-pagination,
.promoevents .topContent .swiper-container .swiper-pagination {
  text-align: left;
  left: 5%;
  bottom: 15%;
  position: absolute;
}
.articletips .topContent .swiper-container .swiper-pagination-bullet,
.promoevents .topContent .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.articletips .topContent .swiper-container .swiper-pagination-bullet-active,
.promoevents .topContent .swiper-container .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.articletips .topContent .swiper-container .swiper-slide img,
.promoevents .topContent .swiper-container .swiper-slide img {
  border-radius: 30px 30px 0 0;
}
.articletips .topContent .swiper-container .swiper-slide .bg-white,
.promoevents .topContent .swiper-container .swiper-slide .bg-white {
  border-radius: 0 0 30px 30px;
  padding: 3% 10%;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
}
.articletips .topContent .swiper-container .swiper-slide .bg-white h5,
.promoevents .topContent .swiper-container .swiper-slide .bg-white h5 {
  color: #1f1f1f;
  font-weight: bold;
}
.articletips .topContent .swiper-container .swiper-slide .bg-white p,
.promoevents .topContent .swiper-container .swiper-slide .bg-white p {
  color: #6d6d6d;
}
.articletips .topContent .swiper-container .topContent,
.promoevents .topContent .swiper-container .topContent {
  position: absolute;
  top: 5%;
  left: 5%;
}
.articletips .topContent .swiper-container .topContent h4,
.promoevents .topContent .swiper-container .topContent h4 {
  font-weight: bold;
  color: #ffffff;
}
.articletips .topContent .swiper-container .topContent .recipesCount,
.promoevents .topContent .swiper-container .topContent .recipesCount {
  color: #62a047;
  background-color: #f6faf3;
  padding: 3px 5px;
  border-radius: 20px;
  font-weight: bold;
}
.articletips .explore,
.promoevents .explore {
  background-color: #ffffff;
}
.articletips .explore .top,
.promoevents .explore .top {
  padding: 3% 5%;
}
.articletips .explore .top h3,
.promoevents .explore .top h3 {
  font-weight: bold;
  margin: 0;
  color: #d80028;
}
.articletips .explore .searchWrapper,
.promoevents .explore .searchWrapper {
  z-index: 99;
  position: sticky;
  padding: 3% 5% 4% 5%;
  background-color: #ffffff;
  top: 0;
}
.articletips .explore .searchWrapper img,
.promoevents .explore .searchWrapper img {
  width: 24px;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu,
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu {
  width: 100%;
  transform: unset !important;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item,
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item {
  padding: 0;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item div,
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item div {
  margin: 5px 15px;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item:active,
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu .dropdown-item:active {
  background: none;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu.show,
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0 0;
  margin: 0;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu.show[data-popper-placement=top-start],
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu.show[data-popper-placement=top-start] {
  margin-bottom: 50px !important;
}
.articletips .explore .searchWrapper .topicSelector .dropdown-menu.show[data-popper-placement=bottom-start],
.promoevents .explore .searchWrapper .topicSelector .dropdown-menu.show[data-popper-placement=bottom-start] {
  margin-top: 50px !important;
}
.articletips .explore .searchWrapper .topicSelector .dropdowncustomized,
.promoevents .explore .searchWrapper .topicSelector .dropdowncustomized {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
}
.articletips .explore .searchWrapper .searchButton,
.promoevents .explore .searchWrapper .searchButton {
  border: 0;
}
.articletips .explore .searchWrapper .search-container .button,
.promoevents .explore .searchWrapper .search-container .button {
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.articletips .explore .searchWrapper .search-container .button:hover,
.promoevents .explore .searchWrapper .search-container .button:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
.articletips .explore .searchWrapper .search-container .mglass,
.promoevents .explore .searchWrapper .search-container .mglass {
  display: inline-block;
  pointer-events: none;
}
.articletips .explore .searchWrapper .search-container .searchbutton,
.promoevents .explore .searchWrapper .search-container .searchbutton {
  width: 100%;
  margin: 0;
  padding: 0;
}
.articletips .explore .searchWrapper .search-container .search:focus + .searchbutton,
.promoevents .explore .searchWrapper .search-container .search:focus + .searchbutton {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
.articletips .explore .searchWrapper .search-container .search,
.promoevents .explore .searchWrapper .search-container .search {
  position: absolute;
  left: 49px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
}
.articletips .explore .searchWrapper .search-container .search:focus,
.promoevents .explore .searchWrapper .search-container .search:focus {
  width: 85%;
}
.articletips .explore .searchWrapper .search-container .expandright,
.promoevents .explore .searchWrapper .search-container .expandright {
  left: auto;
  right: 50px;
}
.articletips .explore .searchWrapper .search-container .expandright:focus,
.promoevents .explore .searchWrapper .search-container .expandright:focus {
  border: 1px solid black;
  padding: 0 0 0 5%;
  border-radius: 20px;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu,
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu {
  width: 70%;
  transform: unset !important;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item,
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item {
  padding: 0;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item div,
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item div {
  margin: 5px 15px;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item:active,
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu .dropdown-item:active {
  background: none;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu.show,
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0 0;
  margin: 0;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu.show[data-popper-placement=top-end],
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu.show[data-popper-placement=top-end] {
  margin-bottom: 50px !important;
}
.articletips .explore .searchWrapper .sortSelector .dropdown-menu.show[data-popper-placement=bottom-end],
.promoevents .explore .searchWrapper .sortSelector .dropdown-menu.show[data-popper-placement=bottom-end] {
  margin-top: 50px !important;
}
.articletips .explore .bottom,
.promoevents .explore .bottom {
  padding: 3% 5%;
}
.articletips .explore .bottom .looper .each,
.promoevents .explore .bottom .looper .each {
  padding: 5% 0;
  border-bottom: 1px solid #eeeeee;
}
.articletips .explore .bottom .looper .each .imageContainer img,
.promoevents .explore .bottom .looper .each .imageContainer img {
  border-radius: 20px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articletips .explore .bottom .looper .each .contentInside span,
.promoevents .explore .bottom .looper .each .contentInside span {
  font-size: 75%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}
.articletips .explore .bottom .looper .each .contentInside span.status,
.promoevents .explore .bottom .looper .each .contentInside span.status {
  font-weight: bold;
}
.articletips .explore .bottom .looper .each .contentInside span.red,
.promoevents .explore .bottom .looper .each .contentInside span.red {
  color: #d80028;
  background-color: #fff0f3;
}
.articletips .explore .bottom .looper .each .contentInside span.green,
.promoevents .explore .bottom .looper .each .contentInside span.green {
  color: #62a047;
  background-color: #f6faf3;
}

.news-detail .dynamicContent {
  background: #ffffff;
  padding: 3% 5%;
}
.news-detail .dynamicContent .statusBar {
  padding-bottom: 5%;
  border-bottom: 1px solid #eeeeee;
}
.news-detail .dynamicContent .statusBar .pilled {
  color: #414141;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 10px;
}
.news-detail .dynamicContent .statusBar .pilled.green {
  background: #f6faf3;
}
.news-detail .dynamicContent .statusBar .pilled.red {
  background: #fff0f3;
}
.news-detail .dynamicContent .statusBar .pilled img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.news-detail .dynamicContent .play {
  background: url("../assets/images/home-page-assets/play-circle.svg");
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
  border: 0;
  background-repeat: no-repeat;
}
.news-detail .dynamicContent .videoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-detail .dynamicContent .videoContainer .gallery_player {
  width: 100%;
  padding: 4% 0%;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player {
  padding-bottom: 52.25%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .titleTop {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  z-index: 100;
  text-align: left;
  padding: 0 5%;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .image-wrapper,
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .play {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .image-wrapper,
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .image {
  width: 100%;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .image.onMobile {
  display: none;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player .preview,
.news-detail .dynamicContent .videoContainer .gallery_player .video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.news-detail .dynamicContent .videoContainer .gallery_player .video-player [data-hidden=true] {
  display: none;
}
.news-detail .moreArticles {
  padding: 3% 5%;
  background: #ffffff;
}
.news-detail .moreArticles h3 {
  font-weight: bold;
}
.news-detail .moreArticles .eachArticle {
  box-shadow: 5px 10px 11px 1px rgba(0, 0, 0, 0.33);
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.news-detail .moreArticles .eachArticle img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.news-detail .moreArticles .eachArticle h5 {
  font-weight: bold;
}
.news-detail .moreArticles .eachArticle .contentDetails {
  padding: 5% 5%;
}/*# sourceMappingURL=news.css.map */