.disabledOverflow {
  overflow: hidden;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

section {
  position: relative;
}

.bg-red {
  background-color: #d80028;
}

.bg-pink {
  background-color: #ffdde3;
}

.bg-yellow {
  background-color: #f99707;
}

.bg-white {
  background-color: #ffffff;
}

.bg-soft-green {
  background-color: #e9f5e3;
}

.bg-green {
  background-color: #62a047;
}

.color-red {
  color: #d80028;
}

.color-pink {
  color: #ffdde3;
}

.color-green {
  color: #62a047;
}

.color-blue {
  color: #2583b8;
}

.color-yellow {
  color: #f99707;
}

.a-button-default {
  width: 100%;
  display: block;
  text-align: center;
  padding: 4% 0%;
  border-radius: 20px;
}

.button-default {
  border: 0;
  padding: 3.5% 0;
  width: 100%;
  border-radius: 20px;
}

header.sticky-header,
header.sticky-header-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;
}
header.sticky-header.hidden,
header.sticky-header-desktop.hidden {
  top: -100px;
}
header.sticky-header .logo,
header.sticky-header-desktop .logo {
  width: 64px;
  margin-left: 20px;
}
header.sticky-header .float-right,
header.sticky-header-desktop .float-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header.sticky-header .float-right .wrapped,
header.sticky-header-desktop .float-right .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
header.sticky-header .float-right .wrapped img,
header.sticky-header-desktop .float-right .wrapped img {
  width: 25px;
  height: 25px;
}
header.sticky-header .float-right .wrapped-right,
header.sticky-header-desktop .float-right .wrapped-right {
  background-color: #ffc035;
  border-radius: 50% 0 0 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
header.sticky-header .float-right .wrapped-right img,
header.sticky-header-desktop .float-right .wrapped-right img {
  width: 25px;
  height: 25px;
}

.main_component {
  background-color: #feeaeb;
  background-image: url(../assets/images/home-page-assets/umami_bg.svg);
  background-size: 100%;
  background-position: top -1% left;
  background-repeat: no-repeat;
  padding: 20% 0 0% 0 !important;
  position: relative;
}
.main_component .topSec {
  background-color: #ffffff;
}
.main_component .topSec .top {
  padding: 3% 5%;
  font-size: 12px;
}
.main_component .topSec .top.back {
  color: #d80028;
}
.main_component .topSec .top.back a {
  font-weight: bold;
}
.main_component .topSec .top.back a i {
  font-size: 16px;
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
}
.pill.green {
  color: #62a047;
  background-color: #f6faf3;
}
.pill.orange {
  color: #f99707;
  background-color: #fffaeb;
}
.pill.red {
  color: #d80028;
  background-color: #fff0f3;
}

footer {
  background-color: #d80028;
}
footer .content {
  padding: 5% 8%;
}
footer .content p {
  color: #ffffff;
  text-align: center;
  padding: 3% 0;
}
footer .content .topForm {
  margin-top: 3%;
  padding: 0 5%;
}
footer .content .topForm .wrapperBorder {
  background: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px 20px 0 0px;
  z-index: 2;
  position: relative;
}
footer .content .topForm .wrapperBorder .wrapped {
  font-weight: bold;
  padding: 2% 8%;
  background-color: #f99707;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px 20px 0 20px;
}
footer .content .topForm form .input-group {
  background: #ffffff;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
footer .content .topForm form .input-group input {
  border: 0;
  padding: 15px;
  border-radius: 20px;
}
footer .content .topForm form .input-group button {
  color: #d80028;
}
footer .content .topForm form .input-group button span {
  border-radius: 20px;
  background: #fff0f3;
  padding: 10px 14px;
}
footer .content img {
  width: 100%;
  margin: 3% 0;
}
footer .content img.logo {
  width: 40%;
}
footer .content .footerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content .footerList .listed {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
footer .content .footerList .listed a {
  font-weight: bold;
  color: #ffffff;
}
footer .content .socMedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content .socMedWrapper .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer .content .socMedWrapper .wrapped img {
  width: 25px;
  height: 25px;
}
footer .content .aboutWrapper {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
footer .content .trademark {
  color: #ffffff;
  font-size: 65%;
}

footer.stickyFoot {
  z-index: 888888;
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  height: 70px;
  align-items: flex-end;
}
footer.stickyFoot .smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.stickyFoot img {
  width: 20px;
  height: auto;
}

@keyframes squarePopup {
  from {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@keyframes squareFadeOut {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
}
.communityHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2% 4%;
}
.communityHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.communityHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.communityHidden .insider {
  border-radius: 20px;
  padding: 3%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.communityHidden .insider p {
  margin: 0;
}
.communityHidden .insider.green h5 {
  color: #62a047;
}
.communityHidden .insider.yellow h5 {
  color: #f99707;
}
.communityHidden .insider.red h5 {
  color: #d80028;
}

.cartHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.cartHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.cartHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.cartHidden .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.cartHidden .insider p {
  font-size: 12px;
}
.cartHidden .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider p {
  margin: 0;
  font-weight: bold;
}
.cartHidden .insider.green h5 {
  color: #62a047;
}
.cartHidden .insider.yellow h5 {
  color: #f99707;
}
.cartHidden .insider.red h5 {
  color: #d80028;
}

.menuHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 8% 10%;
}
.menuHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 0px;
}
.menuHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.menuHidden a {
  color: #d80028;
}
.menuHidden a h2 {
  margin: 0 0 20% 0;
}
.menuHidden a.upload-resep {
  background: #d80028;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 40px;
  width: 50%;
  display: block;
  text-align: center;
}
.menuHidden .accordion {
  width: 100%;
}
.menuHidden .accordion .accordion-item {
  background: none;
  border: 0;
}
.menuHidden .accordion .accordion-item h4 {
  margin: 0 0 5% 0;
}
.menuHidden .accordion .accordion-item button {
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  color: #d80028;
  position: relative;
}
.menuHidden .accordion .accordion-item button[aria-expanded=false]::after {
  background-image: url("../assets/images/main-assets/accordionDown.svg");
}
.menuHidden .accordion .accordion-item button[aria-expanded=true]::after {
  background-image: url("../assets/images/main-assets/accordion.svg");
}
.menuHidden .accordion .accordion-item button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transform: none;
}
.menuHidden .accordion .accordion-item .accordion-body {
  padding: 3%;
}
.menuHidden .accordion .accordion-item .accordion-body a {
  color: #414141;
}

.customCardBuyProduct {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.customCardBuyProduct .buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.customCardBuyProduct .buttonWrapper button {
  background: none;
  border: 0;
}
.customCardBuyProduct.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.customCardBuyProduct.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.customCardBuyProduct .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.customCardBuyProduct .insider p {
  font-size: 12px;
}
.customCardBuyProduct .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider p {
  margin: 0;
  font-weight: bold;
}
.customCardBuyProduct .insider.green h5 {
  color: #62a047;
}
.customCardBuyProduct .insider.yellow h5 {
  color: #f99707;
}
.customCardBuyProduct .insider.red h5 {
  color: #d80028;
}

.text-error {
  color: #d80028;
}

.oneliner {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.twoliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.threeliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.fourliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

#scrollToTopButton {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #d80028;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

#globalModal {
  padding: 0 10px;
}
#globalModal .modal-content {
  border-radius: 40px;
  padding: 5% 0;
}
#globalModal .modal-content .modal-body img {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
#globalModal .modal-content .modal-footer {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#globalModal .modal-content .modal-footer .dismissed {
  background-color: #d80028;
  color: #ffffff;
  margin: 5% 0;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 5% 0;
}
#globalModal .modal-content .modal-footer .backToHome {
  color: #c7c7c7;
}

@media (min-width: 768px) {
  header.desktopHeader {
    padding: 1% 8%;
  }
  header.desktopHeader .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header.desktopHeader .links a {
    color: black;
    font-weight: bold;
  }
  header.desktopHeader .links a.red {
    color: #d80028;
  }
  header.desktopHeader .links .dropdown-menu {
    border-radius: 16px;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item:active {
    background-color: transparent !important;
    color: black !important;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 93%);
    margin: 5px 0;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.green h5 {
    color: #62a047;
    font-weight: bold;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.yellow h5 {
    color: #f99707;
    font-weight: bold;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.red h5 {
    color: #d80028;
    font-weight: bold;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider img {
    width: 24px;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.shop {
    padding: 10px 10px;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.shop img {
    width: 50%;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.shop .wrapper {
    position: relative;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.shop .wrapper .absoluted {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 50px;
  }
  header.desktopHeader .links .dropdown-menu .dropdown-item .insider.shop .wrapper .absoluted img {
    width: 100%;
  }
  header.desktopHeader .float-right .wrapped-right {
    border-radius: 50%;
    margin: 10px;
  }
  footer.stickyFoot {
    display: none;
  }
  .main_component {
    padding: 0 !important;
  }
  .button-default {
    width: 25%;
    padding: 1%;
  }
  footer .content img.logo {
    width: 100%;
  }
  footer .content .vstack .links {
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  footer .content .vstack .socMedWrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .content .vstack .aboutWrapper {
    display: flex;
    justify-content: flex-start;
  }
  footer .content .vstack .aboutWrapper a {
    margin-right: 15px;
  }
  footer .content .vstack .aboutWrapper a:last-child {
    margin-right: 0;
  }
  footer .content .font-12 {
    font-size: 12px;
  }
}
.nutriexpert .topContent {
  background-color: #ffffff;
  padding-bottom: 3%;
  overflow: hidden;
}
.nutriexpert .topContent .content {
  padding: 5% 8%;
}
.nutriexpert .topContent .content h3 {
  font-weight: bold;
  font-size: 30px;
}
.nutriexpert .topContent .content h5 {
  font-size: 18px;
}
.nutriexpert .topContent .content p {
  font-size: 14px;
}
.nutriexpert .topContent .content .see-more {
  font-weight: bold;
  color: #d80028;
}
.nutriexpert .topContent .swiper-container {
  width: 100%;
  overflow: hidden;
  padding: 3% 5%;
}
.nutriexpert .topContent .swiper-container .swiper-pagination {
  text-align: left;
  left: 5%;
  bottom: 15%;
  position: absolute;
}
.nutriexpert .topContent .swiper-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.nutriexpert .topContent .swiper-container .swiper-pagination-bullet-active {
  width: 30px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white {
  border-radius: 20px;
  padding: 4% 4%;
  box-shadow: 0px 8px 8px rgba(31, 31, 31, 0.06);
  border: 1px solid #e3e3e3;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white p {
  color: #1f1f1f;
  font-weight: bold;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .threeliners {
  font-size: 14px;
  margin-bottom: 10px;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .author {
  color: #ffc035;
  font-size: 12px;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .e_label {
  margin-top: 10px;
  font-size: 12px;
  color: #414141;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .e_label i {
  color: #449e24;
  margin-right: 2px;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .infoWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 12px;
}
.nutriexpert .topContent .swiper-container .swiper-slide .bg-white .infoWrapper img {
  color: #d80028;
  width: 30px;
  padding: 0 5% 0 5%;
}
.nutriexpert .topContent .swiper-container .topContent {
  position: absolute;
  top: 5%;
  left: 5%;
}
.nutriexpert .topContent .swiper-container .topContent h4 {
  font-weight: bold;
  color: #ffffff;
}
.nutriexpert .faq {
  background: #ffe388;
  padding: 4% 5%;
  font-size: 14px;
}
.nutriexpert .faq h3 {
  color: #d80028;
  font-weight: bold;
}
.nutriexpert .faq .looper .paperWhite {
  background: #ffffff;
  padding: 3% 5%;
  text-align: left;
  border-radius: 20px;
  margin: 5% 0;
}
.nutriexpert .faq .looper .paperWhite .e_label {
  margin-top: 10px;
  font-size: 12px;
  color: #414141;
}
.nutriexpert .faq .looper .paperWhite .e_label i {
  color: #449e24;
  margin-right: 2px;
}
.nutriexpert .faq .trending {
  background: #ffffff;
  font-weight: bold;
  border-radius: 20px;
}
.nutriexpert .faq .trending .top {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3% 5%;
}
.nutriexpert .faq .trending hr {
  margin: 0;
}
.nutriexpert .faq .trending .looper .each {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 3% 5%;
}
.nutriexpert .faq .trending .looper .each img {
  width: 20px;
  height: auto;
}
.nutriexpert .discussion {
  background-color: #ffffff;
  padding: 3% 5% 0% 5%;
}
.nutriexpert .discussion .buttonDiscuss {
  background-color: #f99707;
  color: white;
  font-weight: bold;
}
.nutriexpert .stickyNav {
  padding: 3% 5% 4% 5%;
  z-index: 99;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}
.nutriexpert .stickyNav img {
  width: 24px;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu {
  width: 100%;
  transform: unset !important;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu .dropdown-item {
  padding: 0;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu .dropdown-item div {
  margin: 5px 15px;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu .dropdown-item:active {
  background: none;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0 0;
  margin: 0;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu.show[data-popper-placement=top-start] {
  margin-bottom: 50px !important;
}
.nutriexpert .stickyNav .topicSelector .dropdown-menu.show[data-popper-placement=bottom-start] {
  margin-top: 50px !important;
}
.nutriexpert .stickyNav .topicSelector .dropdowncustomized {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.15);
}
.nutriexpert .stickyNav .searchButton {
  border: 0;
}
.nutriexpert .stickyNav .e_rounded {
  width: 38px;
  height: 38px;
  border-radius: 38px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 0;
  position: relative;
}
.nutriexpert .stickyNav .e_rounded img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu {
  width: 100px;
  transform: unset !important;
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu .dropdown-item {
  padding: 0;
  margin: 5px 15px;
  font-size: 12px;
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu .dropdown-item:active {
  background: none;
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu.show {
  position: absolute;
  inset: auto auto 0 0;
  margin: 0;
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu.show[data-popper-placement=top-end] {
  margin-bottom: 50px !important;
}
.nutriexpert .stickyNav .sortSelector .dropdown-menu.show[data-popper-placement=bottom-end] {
  margin-top: 50px !important;
}
.nutriexpert .e_dd {
  max-height: calc(100vh - 200px);
  overflow: scroll;
}
.nutriexpert .e_dd li {
  margin-bottom: 20px;
  padding: 0 10px;
}
.nutriexpert .e_dd li:last-child .dd_box {
  border: none;
}
.nutriexpert .e_dd li .filter_btn {
  width: 100%;
  height: 42px;
  background: #f99707;
  color: white;
  border: none;
  display: block;
  border-radius: 40px;
  font-weight: 700;
}
.nutriexpert .e_dd li .cancel_btn {
  width: 100%;
  height: 42px;
  background: none;
  color: #6d6d6d;
  font-weight: 700;
  border: none;
}
.nutriexpert .dd_box {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.nutriexpert .dd_box .title {
  color: #c7c7c7;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
}
.nutriexpert .dd_box .check_box {
  margin-bottom: 10px;
}
.nutriexpert .dd_box .cb_box {
  position: relative;
  margin-bottom: 10px;
}
.nutriexpert .dd_box .cb_box .terjawab {
  font-size: 14px;
}
.nutriexpert .dd_box .cb_box .terjawab i {
  color: #449e24;
}
.nutriexpert .dd_box .cb_box .belum_terjawab {
  font-size: 14px;
}
.nutriexpert .dd_box .cb_box .belum_terjawab i {
  color: #e3e3e3;
}
.nutriexpert .dd_box .cb_box .all_label {
  background: #fffaeb;
  color: #f99707;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 20px;
  font-size: 12px;
}
.nutriexpert .dd_box .cb_box .e_gizi {
  background: #fffaeb;
  color: #1f1f1f;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 20px;
  font-size: 12px;
}
.nutriexpert .dd_box .cb_box .e_gizi img {
  display: inline-block;
  margin-right: 2px;
  width: 15px;
}
.nutriexpert .dd_box .cb_box input[type=checkbox] {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  z-index: 100;
}
.nutriexpert .dd_box .cb_box input[type=checkbox]:checked + .fake_checkbox {
  background: url("../assets/images/main-assets/ic_checkbox_fill.svg") no-repeat center/contain;
}
.nutriexpert .dd_box .cb_box .fake_checkbox {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url("../assets/images/main-assets/ic_checkbox_empty.svg") no-repeat center/contain;
}
.nutriexpert .e_preview a {
  color: #f99707;
  font-weight: 700;
  padding: 10px 20px;
  display: block;
  background: #fffaeb url("../assets/images/main-assets/close.svg") no-repeat right 20px center/14px;
}
.nutriexpert .forum {
  background: #ffffff;
  padding: 3% 0 0;
}
.nutriexpert .forum .post {
  width: 100%;
  overflow: hidden;
}
.nutriexpert .forum .post .profile-bar {
  padding: 0 5%;
}
.nutriexpert .forum .post .profile-bar .profile-picture {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.nutriexpert .forum .post .profile-bar .profile-picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
}
.nutriexpert .forum .post .profile-detail {
  font-size: 12px;
  color: #414141;
}
.nutriexpert .forum .post .profile-detail img {
  width: 20px;
  height: auto;
}
.nutriexpert .forum .post .profile-detail .followStatus {
  color: #c7c7c7;
}
.nutriexpert .forum .post .post-content .pc_box {
  padding: 0 5%;
}
.nutriexpert .forum .post .post-content .status-socket {
  display: flex;
  align-items: center;
}
.nutriexpert .forum .post .post-content .status-socket .each {
  margin: 0 10px 0 0;
  font-size: 12px;
  color: #414141;
}
.nutriexpert .forum .post .post-content .status-socket .each img {
  width: 20px;
}
.nutriexpert .forum .post .post-content .status-socket .e_status {
  background: #fffaeb;
  border-radius: 40px;
  padding: 5px 10px 5px 5px;
}
.nutriexpert .forum .post .post-content .post-title {
  font-weight: bold;
  font-size: 20px;
}
.nutriexpert .forum .post .post-content .post-description {
  color: #1f1f1f;
  margin: 20px 0;
}
.nutriexpert .forum .post .post-content .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}
.nutriexpert .forum .post .post-content .post-info .post-author {
  display: flex;
  align-items: center;
}
.nutriexpert .forum .post .post-content .post-info .post-author img {
  width: 30px;
  height: auto;
  margin-right: 5%;
}
.nutriexpert .forum .post .post-content .post-info .post-author .author-name {
  font-weight: bold;
}
.nutriexpert .forum .post .post-content .post-info .post-date {
  color: #ffc035;
}
.nutriexpert .forum .e_comment_info {
  border-top: 1px solid #e3e3e3;
  padding: 15px 5%;
}
.nutriexpert .forum .e_comment_info:after {
  content: "";
  display: block;
  clear: both;
}
.nutriexpert .forum .e_comment_info .e_left {
  float: left;
}
.nutriexpert .forum .e_comment_info .e_left span {
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -5px;
}
.nutriexpert .forum .e_comment_info .e_right {
  float: right;
  font-size: 12px;
}
.nutriexpert .forum .e_comment_info .e_right .e_comment_like {
  display: inline-block;
  margin-right: 10px;
}
.nutriexpert .forum .e_comment_info .e_right .e_comment_share {
  display: inline-block;
  margin-right: 10px;
}
.nutriexpert .forum .e_comment_info .e_right .e_comment_etc {
  display: inline-block;
}
.nutriexpert .forum .e_comment_info .e_right img {
  width: 20px;
  display: inline-block;
}
.nutriexpert .forum .e_comment_box {
  padding: 0 5%;
}
.nutriexpert .forum .e_comment_box .ecb {
  padding-left: 45px;
  position: relative;
  min-height: 32px;
  margin-bottom: 10px;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_img {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 32px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #ff95a9;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_desc {
  font-size: 12px;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_desc .ecb_name {
  color: #1f1f1f;
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_desc p {
  display: block;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_time {
  color: #6d6d6d;
  font-size: 12px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_reply {
  color: #6d6d6d;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_heart {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_heart input[type=checkbox] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_heart input[type=checkbox]:checked + span {
  background: url("../assets/images/main-assets/heart_red.svg") no-repeat top center/contain;
}
.nutriexpert .forum .e_comment_box .ecb .ecb_etc .ecb_heart span {
  width: 20px;
  height: 20px;
  display: block;
  background: url("../assets/images/main-assets/heart_grey.svg") no-repeat top center/contain;
}
.nutriexpert .forum .e_load_more {
  padding: 10px 5%;
  font-weight: 700;
  font-size: 12px;
}
.nutriexpert .forum .e_text_area {
  padding: 10px 5%;
}
.nutriexpert .forum .e_text_area textarea {
  width: 100%;
  padding: 10px 20px;
  display: block;
  border-radius: 40px;
  font-size: 16px;
  height: 50px;
  outline: 0;
}
.nutriexpert .forum .e_text_area button {
  width: 100%;
  height: 42px;
  background: #f99707;
  display: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  margin-top: 20px;
}
.nutriexpert .forum .e_question button {
  background: #fff2c6;
  color: #f99707;
  display: block;
  border: none;
  width: 100%;
  padding: 10px 5%;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}
.nutriexpert .forum .e_question button:disabled {
  background: #ccc;
  color: #eeeeee;
}

.question_wrapper {
  background: #fff;
}
.question_wrapper .container {
  padding: 20px;
}
.question_wrapper .top_box {
  position: relative;
  margin-bottom: 20px;
}
.question_wrapper .top_box h3 {
  font-weight: 700;
  font-size: 26px;
}
.question_wrapper .top_box .back_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("../assets/images/main-assets/close.svg") no-repeat top center/contain;
  display: block;
  text-indent: -9999px;
}
.question_wrapper .form_wrapper .form_box {
  margin-bottom: 20px;
  position: relative;
}
.question_wrapper .form_wrapper .ta_box {
  position: relative;
  height: 240px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 10px 30px;
}
.question_wrapper .form_wrapper .ta_box.custom {
  height: 120px;
}
.question_wrapper .form_wrapper select,
.question_wrapper .form_wrapper input[type=text],
.question_wrapper .form_wrapper textarea {
  width: 100%;
  height: 42px;
  border-radius: 40px;
  padding: 0 10px;
  outline: 0;
  border: 1px solid #ccc;
}
.question_wrapper .form_wrapper textarea {
  padding: 0;
  resize: none;
  height: 100%;
  border: none;
  border-radius: 0;
}
.question_wrapper .form_wrapper .notes {
  font-size: 12px;
  color: #6d6d6d;
  display: block;
}
.question_wrapper .form_wrapper .info {
  color: #2583b8;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.question_wrapper .form_wrapper #preview_btn {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  background: #fffaeb;
  text-align: center;
  border: none;
  font-weight: 700;
  color: #f99707;
  margin-bottom: 10px;
  display: block;
  line-height: 48px;
}
.question_wrapper .form_wrapper #save_btn {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  background: none;
  text-align: center;
  border: none;
  font-weight: 700;
  color: #414141;
  margin-bottom: 10px;
  display: block;
  line-height: 48px;
}
.question_wrapper .form_wrapper .bottom_box {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  margin-top: 0;
}
.question_wrapper .form_wrapper .agree_box {
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}
.question_wrapper .form_wrapper .agree_box input[type=checkbox] {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}
.question_wrapper .form_wrapper .agree_box a {
  color: #f99707;
  font-weight: 700;
}
.question_wrapper .form_wrapper .agree_box a:hover {
  text-decoration: underline;
}
.question_wrapper .form_wrapper #post_btn {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  background: #f99707;
  text-align: center;
  border: none;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  display: block;
  line-height: 48px;
}
.question_wrapper .form_wrapper #cancel_btn {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  background: none;
  text-align: center;
  border: none;
  font-weight: 700;
  color: #f99707;
  margin-bottom: 10px;
  display: block;
  line-height: 48px;
}

.e_popup_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  overflow: scroll;
  display: none;
}
.e_popup_wrapper .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.e_popup_wrapper .e_popup_box {
  width: calc(100% - 40px);
  background: #fff;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 20px 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
.e_popup_wrapper .e_popup_box img {
  width: 180px;
  display: block;
  margin: 0 auto 20px;
}
.e_popup_wrapper .e_popup_box h3 {
  font-size: 22px;
}
.e_popup_wrapper .e_popup_box .yellow_btn {
  background: #f99707;
  color: #fff;
  height: 42px;
  line-height: 40px;
  width: 100%;
  display: block;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  margin-top: 20px;
}
.e_popup_wrapper .e_popup_box .cancel_btn {
  width: 100%;
  height: 42px;
  line-height: 40px;
  background: none;
  border: none;
  color: #c7c7c7;
  font-weight: 700;
  margin-top: 20px;
}/*# sourceMappingURL=nutriexpert.css.map */