.disabledOverflow {
  overflow: hidden;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  margin-bottom: 0;
}

section {
  position: relative;
}

.bg-red {
  background-color: #d80028;
}

.bg-pink {
  background-color: #ffdde3;
}

.bg-yellow {
  background-color: #f99707;
}

.bg-white {
  background-color: #ffffff;
}

.bg-soft-green {
  background-color: #e9f5e3;
}

.bg-green {
  background-color: #62a047;
}

.color-red {
  color: #d80028;
}

.color-pink {
  color: #ffdde3;
}

.color-green {
  color: #62a047;
}

.color-blue {
  color: #2583b8;
}

.color-yellow {
  color: #f99707;
}

.a-button-default {
  width: 100%;
  display: block;
  text-align: center;
  padding: 4% 0%;
  border-radius: 40px;
}

.button-default {
  border: 0;
  padding: 3.5% 0;
  width: 100%;
  border-radius: 20px;
}

header.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  transition: top 0.3s ease-in-out;
  z-index: 99999;
  display: flex;
  align-items: center;
}
header.sticky-header.hidden {
  top: -100px;
}
header.sticky-header .logo {
  width: 64px;
  margin-left: 20px;
}
header.sticky-header .float-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header.sticky-header .float-right .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
header.sticky-header .float-right .wrapped .search-container input[type=search i]::-webkit-search-cancel-button {
  margin-right: 2% !important;
  color: red;
}
header.sticky-header .float-right .wrapped .search-container .button {
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.sticky-header .float-right .wrapped .search-container .button:hover {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
header.sticky-header .float-right .wrapped .search-container .mglass {
  display: inline-block;
  pointer-events: none;
}
header.sticky-header .float-right .wrapped .search-container .searchbutton {
  width: 100%;
  margin: 0;
  padding: 0;
}
header.sticky-header .float-right .wrapped .search-container .search:focus + .searchbutton {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
}
header.sticky-header .float-right .wrapped .search-container .search:focus + .filterWrapper {
  display: block;
}
header.sticky-header .float-right .wrapped .search-container .search {
  position: absolute;
  left: 50px;
  background-color: white;
  outline: none;
  border: none;
  padding: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  transition-duration: 0.4s;
}
header.sticky-header .float-right .wrapped .search-container .search:focus {
  width: 70%;
}
header.sticky-header .float-right .wrapped .search-container .expandright {
  left: auto;
  right: 5%;
  height: 50%;
}
header.sticky-header .float-right .wrapped .search-container .expandright:focus {
  border: 1px solid black;
  padding: 0 5%;
  border-radius: 20px;
  width: 90%;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch {
  display: none;
  position: absolute;
  padding: 1%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  left: 5%;
  width: 90%;
  margin-top: 2%;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch:not(:focus-within) {
  display: none;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions {
  padding: 5%;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch h5 {
  color: #c7c7c7;
  font-weight: bold;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch .removeButton {
  cursor: pointer;
  margin-right: 5px;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch #historyList {
  padding: 0;
  list-style: none;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch #historyList li {
  padding: 5px 0;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch #historyList li button {
  border: 0;
  background: none;
  color: #555555;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .historySearch #historyList li span {
  color: #414141;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .popularSearch h5 {
  color: #d80028;
  font-weight: bold;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .popularSearch ul {
  padding: 0;
  list-style: none;
}
header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions .popularSearch ul li {
  padding: 5px 0;
  color: #6d6d6d;
  font-weight: bold;
}
header.sticky-header .float-right .wrapped .search-container .filterWrapper {
  position: absolute;
  z-index: 999999;
  right: 20%;
  top: 32%;
  height: 100%;
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
  background-color: transparent;
  color: red;
  display: none;
}
header.sticky-header .float-right .wrapped .search-container .filterWrapper .circle-button {
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff0f3;
}
header.sticky-header .float-right .wrapped img {
  width: 25px;
  height: 25px;
}
header.sticky-header .float-right .wrapped-right {
  background-color: #ffc035;
  border-radius: 50% 0 0 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
header.sticky-header .float-right .wrapped-right img {
  width: 25px;
  height: 25px;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu {
  width: 100%;
  transform: translate(0px, 10%);
  height: 80vh;
  bottom: 0;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu.show {
  transform: translate3d(0px, 16%, 0) !important;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .topSide .achievements {
  margin-top: 20px;
  margin-bottom: 10px;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .topSide .memberSpan img {
  margin-right: 5px;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .centerSide {
  width: 100%;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .centerSide .coinCounter {
  width: 100%;
  margin: 5% 0;
  font-weight: bold;
  color: #d80028;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 5px 10px;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .centerSide .coinCounter img {
  width: 24px;
}
header.sticky-header .wrapped-right .dropdstart .dropdown-menu .centerSide .lookCatalogue {
  background: #d80028;
  color: #ffffff;
  width: 100%;
}

.main_component {
  background-color: #feeaeb;
  background-image: url(../assets/images/home-page-assets/umami_bg.svg);
  background-size: 100%;
  background-position: top -1% left;
  background-repeat: no-repeat;
  padding: 20% 0 0% 0 !important;
  position: relative;
}
.main_component .topSec {
  background-color: #ffffff;
}
.main_component .topSec .top {
  padding: 3% 5%;
  font-size: 12px;
}
.main_component .topSec .top.back {
  color: #d80028;
}
.main_component .topSec .top.back a {
  font-weight: bold;
}
.main_component .topSec .top.back a i {
  font-size: 16px;
}
.main_component.blur {
  background: rgba(0, 0, 0, 0.4);
}

.pill {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 0;
}
.pill.green {
  color: #62a047;
  background-color: #f6faf3;
}
.pill.orange {
  color: #f99707;
  background-color: #fffaeb;
}
.pill.red {
  color: #d80028;
  background-color: #fff0f3;
}

footer {
  background-color: #d80028;
}
footer .content {
  padding: 5% 8%;
}
footer .content p {
  color: #ffffff;
  text-align: center;
  padding: 3% 0;
}
footer .content .topForm {
  margin-top: 3%;
  padding: 0 0%;
}
footer .content .topForm .wrapperBorder {
  background: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px 20px 0 0px;
  z-index: 2;
  position: relative;
}
footer .content .topForm .wrapperBorder .wrapped {
  font-weight: bold;
  padding: 2% 8%;
  font-size: 80%;
  background-color: #f99707;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px 20px 0 20px;
}
footer .content .topForm form .input-group {
  background: #ffffff;
  border-radius: 0px 20px 20px 20px;
  box-shadow: 0px 8px 8px rgba(216, 0, 40, 0.06);
}
footer .content .topForm form .input-group input {
  border: 0;
  padding: 15px;
  border-radius: 20px;
}
footer .content .topForm form .input-group button {
  color: #d80028;
}
footer .content .topForm form .input-group button span {
  border-radius: 20px;
  background: #fff0f3;
  padding: 10px 14px;
}
footer .content img {
  width: 100%;
  margin: 3% 0;
}
footer .content img.logo {
  width: 40%;
}
footer .content .footerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content .footerList .listed {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}
footer .content .footerList .listed a {
  font-weight: bold;
  color: #ffffff;
}
footer .content .socMedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .content .socMedWrapper .wrapped {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
footer .content .socMedWrapper .wrapped img {
  width: 25px;
  height: 25px;
}
footer .content .aboutWrapper {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
footer .content .trademark {
  color: #ffffff;
  font-size: 65%;
}

footer.stickyFoot {
  z-index: 888888;
  position: sticky;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  height: 70px;
  align-items: flex-end;
}
footer.stickyFoot .smaller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer.stickyFoot img {
  width: 20px;
  height: auto;
}

@keyframes squarePopup {
  from {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
@keyframes squareFadeOut {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(100%);
  }
}
.communityHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2% 4%;
}
.communityHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.communityHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.communityHidden .insider {
  border-radius: 20px;
  padding: 3%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.communityHidden .insider p {
  margin: 0;
}
.communityHidden .insider.green h5 {
  color: #62a047;
}
.communityHidden .insider.yellow h5 {
  color: #f99707;
}
.communityHidden .insider.red h5 {
  color: #d80028;
}

.cartHidden {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.cartHidden .closeButton {
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  background: 0;
  font-size: 24px;
  float: right;
}
.cartHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.cartHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.cartHidden .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.cartHidden .insider p {
  font-size: 12px;
}
.cartHidden .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.cartHidden .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.cartHidden .insider p {
  margin: 0;
  font-weight: bold;
}
.cartHidden .insider.green h5 {
  color: #62a047;
}
.cartHidden .insider.yellow h5 {
  color: #f99707;
}
.cartHidden .insider.red h5 {
  color: #d80028;
}

.menuHidden {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 8% 10%;
}
.menuHidden.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 0px;
}
.menuHidden.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.menuHidden a {
  color: #d80028;
  margin: 3% 0;
}
.menuHidden a.upload-resep {
  background: #d80028;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 40px;
  width: 50%;
  display: block;
  text-align: center;
}
.menuHidden .accordion {
  margin: 3% 0;
  width: 100%;
}
.menuHidden .accordion .accordion-item {
  background: none;
  border: 0;
}
.menuHidden .accordion .accordion-item h4 {
  margin: 0 0 5% 0;
}
.menuHidden .accordion .accordion-item button {
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  color: #d80028;
  position: relative;
}
.menuHidden .accordion .accordion-item button[aria-expanded=false]::after {
  background-image: url("../assets/images/main-assets/accordionDown.svg");
}
.menuHidden .accordion .accordion-item button[aria-expanded=true]::after {
  background-image: url("../assets/images/main-assets/accordion.svg");
}
.menuHidden .accordion .accordion-item button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transform: none;
}
.menuHidden .accordion .accordion-item .accordion-body {
  padding: 3%;
}
.menuHidden .accordion .accordion-item .accordion-body a {
  color: #414141;
}

.customCardBuyProduct {
  position: fixed;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  bottom: -100%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 4% 5%;
}
.customCardBuyProduct .buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.customCardBuyProduct .buttonWrapper button {
  background: none;
  border: 0;
}
.customCardBuyProduct.active {
  animation: squarePopup 1s ease-in-out forwards;
  bottom: 65px;
}
.customCardBuyProduct.fadeOut {
  animation: squareFadeOut 1s ease-in-out forwards;
}
.customCardBuyProduct .insider {
  border-radius: 20px;
  padding: 5% 7%;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 5px 0;
}
.customCardBuyProduct .insider p {
  font-size: 12px;
}
.customCardBuyProduct .insider.tokopedia p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.tokopedia p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.shopee p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.shopee p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.lazada p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.lazada p img {
  width: 40%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider.bukalapak p {
  padding-right: 15%;
  position: relative;
}
.customCardBuyProduct .insider.bukalapak p img {
  width: 30%;
  position: absolute;
  right: 0%;
  top: 10%;
}
.customCardBuyProduct .insider p {
  margin: 0;
  font-weight: bold;
}
.customCardBuyProduct .insider.green h5 {
  color: #62a047;
}
.customCardBuyProduct .insider.yellow h5 {
  color: #f99707;
}
.customCardBuyProduct .insider.red h5 {
  color: #d80028;
}

.text-error {
  color: #d80028;
}

.oneliner {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.twoliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.threeliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.fourliners {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

#scrollToTopButton {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #d80028;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 999999999999;
}

#globalModal {
  padding: 0 10px;
}
#globalModal .modal-content {
  border-radius: 40px;
  padding: 5% 0;
}
#globalModal .modal-content .modal-body img {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
#globalModal .modal-content .modal-footer {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#globalModal .modal-content .modal-footer .dismissed {
  background-color: #d80028;
  color: #ffffff;
  margin: 5% 0;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  padding: 5% 0;
}
#globalModal .modal-content .modal-footer .backToHome {
  color: #c7c7c7;
}

@media (min-width: 768px) {
  header.sticky-header {
    padding: 1% 8%;
    background: white;
  }
  header.sticky-header .logo {
    width: 90px;
  }
  header.sticky-header .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
  }
  header.sticky-header .links a {
    color: black;
    font-weight: bold;
  }
  header.sticky-header .links a.red {
    color: #d80028;
  }
  header.sticky-header .links .dropdown-menu {
    border-radius: 16px;
    text-transform: capitalize;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item:active {
    background-color: transparent !important;
    color: black !important;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 93%);
    margin: 5px 0;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider h5 {
    font-size: 16px;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider p {
    font-size: 14px;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.green h5 {
    color: #62a047;
    font-weight: bold;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.yellow h5 {
    color: #f99707;
    font-weight: bold;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.red h5 {
    color: #d80028;
    font-weight: bold;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider img {
    width: 24px;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.shop {
    padding: 10px 10px;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.shop img {
    width: 50%;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.shop .wrapper {
    position: relative;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.shop .wrapper .absoluted {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 50px;
  }
  header.sticky-header .links .dropdown-menu .dropdown-item .insider.shop .wrapper .absoluted img {
    width: 100%;
  }
  header.sticky-header .float-right .wrapped .search-container .search:focus + .searchbutton {
    background-color: transparent;
  }
  header.sticky-header .float-right .wrapped .search-container #dropdownSearch {
    width: 66%;
    left: 17%;
  }
  header.sticky-header .float-right .wrapped .search-container #dropdownSearch .suggestions {
    padding: 0;
  }
  header.sticky-header .float-right .wrapped .search-container .expandright {
    right: 17%;
  }
  header.sticky-header .float-right .wrapped .search-container .expandright:focus {
    padding: 0 1%;
    width: 66%;
  }
  header.sticky-header .float-right .wrapped-right {
    border-radius: 50%;
    margin: 10px;
  }
  header.sticky-header .float-right .wrapped-right.account-icon {
    cursor: pointer;
  }
  header.sticky-header .float-right .wrapped-right.account-icon img {
    cursor: pointer;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu {
    width: 350px;
    height: unset;
    transform: unset;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide {
    width: 100%;
    margin: 0;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide .col-4 img {
    height: 70%;
    width: 100%;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide .col-8 .memberSpan {
    color: #414141;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 10px;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide .col-8 .memberSpan img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide .col-8 .achievements {
    padding: 10px 0;
    margin: 0;
  }
  header.sticky-header .float-right .wrapped-right.account-icon .dropdstart .dropdown-menu .topSide .col-8 .achievements img {
    width: 24px;
    margin: 0 3px;
  }
  footer.stickyFoot {
    display: none;
  }
  .main_component {
    padding: 6% 0 0 0 !important;
    background-image: url(../assets/images/home-page-assets/umami_bgD.png);
  }
  .main_component .topSec .top {
    padding: 2% 8%;
    font-size: 14px;
  }
  .a-button-default {
    padding: 1%;
  }
  .button-default {
    width: 25%;
    padding: 1%;
  }
  .cartHidden {
    padding: 2% 8%;
  }
  .cartHidden.active {
    bottom: 0px !important;
  }
  footer .content {
    padding: 2% 8%;
  }
  footer .content img.logo {
    width: 65%;
  }
  footer .content .vstack .links {
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  footer .content .vstack .socMedWrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .content .vstack .aboutWrapper {
    display: flex;
    justify-content: flex-start;
  }
  footer .content .vstack .aboutWrapper a {
    margin-right: 15px;
  }
  footer .content .vstack .aboutWrapper a:last-child {
    margin-right: 0;
  }
  footer .content .font-12 {
    font-size: 12px;
  }
  #globalModal .modal-content .modal-body img {
    width: 20%;
    margin: 0 auto;
  }
  #globalModal .modal-content .modal-footer .dismissed {
    width: 60%;
    padding: 2% 0;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .main_component {
    padding: 9% 0 0 0 !important;
  }
}
@media (min-width: 1440px) {
  .main_component {
    padding: 8% 0 0 0 !important;
  }
}
@media (min-width: 1600px) {
  .main_component {
    padding: 9% 0 0 0 !important;
  }
}
@media (min-width: 1800px) {
  .main_component {
    padding: 5% 0 0 0 !important;
  }
}
.searchWrapper {
  padding: 0% 0 5% 0;
  background: #feeaeb;
  background-image: url("../assets/images/main-assets/smallLineBg.svg");
  background-position: center;
  background-size: cover;
}
.searchWrapper .input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2%;
  margin: 5% 5%;
  border: 1px solid #6d6d6d;
  border-radius: 20px;
}
.searchWrapper .input-field input {
  border: 0;
  outline: 0;
  width: 85%;
}
.searchWrapper .input-field .circle-button {
  border-radius: 50%;
  border: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff0f3;
}

.searchLanding {
  padding: 5% 8%;
  background-color: white;
}
.searchLanding .historySearch h5 {
  color: #c7c7c7;
  font-weight: bold;
}
.searchLanding .historySearch .removeButton {
  cursor: pointer;
  margin-right: 5px;
}
.searchLanding .historySearch #historyList {
  padding: 0;
  list-style: none;
}
.searchLanding .historySearch #historyList li {
  padding: 5px 0;
}
.searchLanding .historySearch #historyList li button {
  border: 0;
  background: none;
  color: #555555;
}
.searchLanding .historySearch #historyList li span {
  color: #414141;
}
.searchLanding .popularSearch h5 {
  color: #d80028;
  font-weight: bold;
}
.searchLanding .popularSearch ul {
  padding: 0;
  list-style: none;
}
.searchLanding .popularSearch ul li {
  padding: 5px 0;
  color: #6d6d6d;
  font-weight: bold;
}

.filterLanding {
  display: none;
  padding: 5% 8%;
  background-color: white;
}
.filterLanding .topFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
}
.filterLanding .topFilter span {
  font-weight: bold;
  color: #c7c7c7;
  margin: 0;
}
.filterLanding .topFilter #clearFilter {
  background: 0;
  border: 0;
  outline: 0;
  color: #f99707;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.filterLanding .content {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
}
.filterLanding .content .eachContent {
  margin-bottom: 10px;
}
.filterLanding .content .eachContent .topTitle {
  padding: 0;
  color: #d80028;
  font-weight: bold;
}
.filterLanding .content .eachContent .filterList {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.filterLanding .content .eachContent .filterList .smallContent {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #6d6d6d;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 5px 5px 5px 0;
  color: #6d6d6d;
  cursor: pointer;
}
.filterLanding .content .eachContent .filterList .smallContent.active {
  background-color: #d80028;
  color: white;
  border: 0;
}
.filterLanding .save {
  color: #d80028;
  font-weight: bold;
}

.tabbedResult {
  display: none;
  background: #ffffff;
}
.tabbedResult .nav-tabs-scrollable {
  overflow-x: auto;
  white-space: nowrap;
}
.tabbedResult .nav-tabs-scrollable ul {
  border: 0;
}
.tabbedResult .nav-tabs-scrollable ul li a {
  font-weight: bold;
  color: #6d6d6d;
}
.tabbedResult .nav-tabs-scrollable ul li a.active {
  color: #d80028;
  background: none;
  border: 0;
  border-bottom: 3px solid #d80028;
  margin: 0 5px;
}
.tabbedResult .tab-content ul {
  padding: 0;
  height: 60vh;
  overflow: auto;
  margin-bottom: 0;
}
.tabbedResult .tab-content ul li {
  margin: 0 15px;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
.tabbedResult .tab-content ul li .imageWrapper {
  display: flex;
  align-items: center;
}
.tabbedResult .tab-content ul li .imageWrapper img {
  border-radius: 5px;
}
.tabbedResult .tab-content ul li p {
  margin: 0;
}
.tabbedResult .tab-content ul li .author {
  color: #6d6d6d;
}
.tabbedResult .tab-content #resep .rating {
  display: inline-block;
  font-size: 18px;
  color: #ffd700;
  cursor: pointer;
}
.tabbedResult .tab-content #resep .rating.unchecked {
  color: #c0c0c0;
}
.tabbedResult .tab-content #jurnalUmami .author {
  padding: 5px 0;
}
.tabbedResult .tab-content #jurnalUmami .author.official {
  color: #2583b8;
}
.tabbedResult .tab-content #jurnalUmami .author.official img {
  width: 16px;
}
.tabbedResult .tab-content #jurnalUmami .commentCounter {
  float: right;
}
.tabbedResult .tab-content #jurnalUmami .commentCounter img {
  width: 20px;
  margin-right: 5px;
}
.tabbedResult .tab-content #nutriExpert .author {
  color: #6d6d6d;
}
.tabbedResult .tab-content #nutriExpert .commentCounter {
  float: right;
}
.tabbedResult .tab-content #nutriExpert .commentCounter img {
  width: 20px;
  margin-right: 5px;
}
.tabbedResult .tab-content #artikel p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tabbedResult .tab-content #artikel .bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabbedResult .tab-content #artikel .dateWrapper {
  float: right;
}
.tabbedResult .tab-content #event h5 {
  font-weight: bold;
}
.tabbedResult .tab-content #event p {
  color: #6d6d6d;
}
.tabbedResult .tab-content #event .dateWrapper {
  color: #1f1f1f;
}

@media (min-width: 768px) {
  .searchWrapper {
    padding: 0;
  }
  .searchWrapper .input-field {
    margin: 2% 8%;
    padding: 20px;
  }
  .tabbedResult {
    padding: 0 8%;
  }
  .tabbedResult .nav-tabs-scrollable .nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tabbedResult .nav-tabs-scrollable .nav-tabs li.nav-item {
    width: 100% !important;
    text-align: center;
  }
}/*# sourceMappingURL=search.css.map */